
<div>
  <form [formGroup]="aboutDTO" class="post-about">
    <div class="form-container">
      <label for="" class="">nombre</label>
      <input type="text"
        id="name"
        placeholder="Nombre"
        formControlName="titulo"
      >

      <label for="" class="">descripcion</label>
      <textarea
        class="textarea-post"
        id="descripcion"
        placeholder="descripcion del post"
        type="text"
        formControlName="descripcion">
      </textarea>

      <label for="" class="">logo</label>
      <input type="text"
        id="foto"
        placeholder="Logo - Post"
        formControlName="foto">
    </div>
    <button class="button-post" (click)="saveAbout()" >Up</button>
  </form>
</div>
