*{
  font-size: 1.8rem;
  color: black;
}

.post-about{
  width: 28rem;
  display: grid;
  background: #B3B3B3;
  border-radius: 1rem;
  padding-bottom: 0.4rem;
  margin-top: 3rem;
  margin-bottom: 12rem;
  border: 0.4rem solid #FBA31B;
  border-radius: 2rem;
}
