.header{
//--- first section
  .header_container {
    .header-title {
      @media (max-width: 720px) {
        justify-content: center;
        margin-top: 0px;
      }
    }
  }
//--- second section
  .header_navigation-container {

    .border_navigation {
      //-- internal second section
      .header_navigation, .header_navigation-explorer {
        @media (max-width: 720px) {
          margin-right: 0px;
          margin-left: 0px;
        }
      }
    }
  }
}

//--- root icons
.header{
  .header-title {
    // root icons media
    @media (max-width: 1200px) {
      min-width: auto;
      width: 100%;
    }
    @media (max-width: 940px) {
      .img_title {
        min-width: auto;
        width: 160px;
      }
    }
  }
}

//--- submenu navigation
.submenu-container {
  &.open {
    @media (max-width: 920px) {
      animation: openAnimate 2.2s 2s forwards, marginTopAnimation 0.6s 2s forwards;
    }
  }
}

