<div class="post-study">
  <form [formGroup]="StudyDTO">
    <div class="form-container">
    <label for="" class="">Estudio</label>
    <input type="text"
      id="estudiado"
      placeholder="Your full name"
      formControlName="estudiado"
    >

    <label for="" class="">Descripcion</label>
    <input type="text"
      id="descripcion"
      placeholder="Your full name"
      formControlName="descripcion"
    >

    <label for="" class="">Inicio</label>
    <input type="date"
      id="url"
      placeholder="Your full name"
      formControlName="ini"
    >

    <label for="" class="">Final</label>
    <input type="date"
      id="url"
      placeholder="Your full name"
      formControlName="fin"
    >

    <label for="" class="">url</label>
    <input type="text"
      id="url"
      placeholder="Your full name"
      formControlName="url"
    >

    <label for="" class="">logo</label>
    <input type="text"
      id="logo"
      placeholder="Your full name"
      formControlName="logo"
    >
    </div>
    <button class="button-study--add" (click)="saveNewEs()" >Post</button>
  </form>
</div>
