<div>
  <div class="post-taitle">
    <h3>Study</h3>
  </div>
  <form [formGroup]="StudyDTO" class="post-study">
    <div class="form-container">
    <label for="" class="">Estudio</label>
    <input type="text"
      id="estudiado"
      placeholder="Your full name"
      formControlName="estudiado"
    >

    <label for="" class="">Descripcion</label>
    <input type="text"
      id="descripcion"
      placeholder="Your full name"
      formControlName="descripcion"
    >

    <label for="" class="">Inicio</label>
    <input type="date"
      id="ini"
      placeholder="Your full name"
      formControlName="ini"
    >

    <label for="" class="">Final</label>
    <input type="date"
      id="fin"
      placeholder="Your full name"
      formControlName="fin"
    >

    <label for="" class="">url</label>
    <input type="text"
      id="url"
      placeholder="Your full name"
      formControlName="url"
    >

    <label for="" class="">logo</label>
    <input type="text"
      id="logo"
      placeholder="Your full name"
      formControlName="logo"
    >
    </div>
    <button class="button-post" (click)="saveNewEs()" > <a>Post</a> </button>
  </form>
</div>
