
<div class="about-container">
    <div class="about-container-SM">
        <a class="top-left" href="">
            <div>
                <div Class="rectangle-left"></div>
                <div Class="angle-left"></div>
            </div>
        </a>
        <div class="triangle-photo">
            <img [src]="//">
        </div>
        <a href="" class="top-right">
            <div Class="rectangle-rigth"></div>
            <div Class="angle-rigth"></div>
        </a>
    </div>
    <div class="about-container--text">
      <p>sdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasd
        sdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasd
      </p>
    </div>
</div>
