//i-am-container
.about-container{
    margin-top: 90px;
    background: #E2E2E0;
    padding: 20px;
    width: 80vw;
    max-width: 500px;
    height: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
}



.about-container-SM{
    display: grid;
    grid-template-columns: auto 5 1fr;
}

//left
.top-left{
    grid-column: 1;
}
.top-right{
    grid-column: 5;
}
.rectangle-left{
    background: #FBA31B;
    width: 40px;
    height: 41px;
    position: absolute;
    margin-top:10px;
    border-radius: 6px 6px 0 6px;
    margin-left: 30px;
}
.angle-left {
    width:  40px;
    height: 47px;
    background: #FBA31B;
    border-radius: 0 4px 8px 0;
    position: absolute;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 60px;
    margin-top: 7px;
}
//right
.rectangle-rigth{
    background: #FBA31B;
    width: 40px;
    height: 41px;
    position: absolute;
    margin-top:10px;
    border-radius: 6px 6px 6px 0;
}
.angle-rigth {
    width:  40px;
    height: 47px;
    background: #FBA31B;
    border-radius: 4px 4px 0 8px ;
    position: absolute;
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
    margin-top: 7px;

    margin-left:-26px;
}
.about-container--text{
display: grid;
justify-items: center;
width: 100px;
}
.about-container--text p{align-self: center;
  font-size: 2rem;
  background: #B3B3B3;
  padding: 40px 20px;
  border-radius: 12px;
  text-align: center;
}
