     
<div class="i-am-container">
    <div class="i-am-container-SM">
        <a class="top-left" href="">
            <div>
                <div Class="rectangle-left"></div>
                <div Class="angle-left"></div>
            </div>
        </a>
        <div class="triangle-photo">
            <img>
        </div>
        <a href="" class="top-right">
            <div Class="rectangle-rigth"></div>
            <div Class="angle-rigth"></div>
        </a>
    </div>
    <div class="i-am-container--text">
       <p>
           La programacion simepre me llamo la atencion pero 
           me daba miedo eso de ver pantalla supre complejas 
           y dificiles de leer, que sin saber nada me asustaban. 
           Con la pandemia buscan un cambio de rumbo, tenia nuevos 
           objetivos y gracias a Argentina Programa decidi envarcarme 
           en este mundo que siempre me atrajo pero no terminaba de 
           comprender. Hoy me tienen ya con un CV web realizado por 
           mi con el conocmiento que el mismo requiere.  
        </p>
    </div>
</div>