.contact-container{
    margin: 10px 36px;
    border-radius: 20px;
    position: relative;
    background: #CCD1D7;
}
//triangle
.triangle-contact,
.triangle-contact:before,
.triangle-contact:after {
  position: relative;
  display:block;
  width:  100px;
  height: 100px;
  background: #000;
  border-radius: 0 20px 0 20px ;
}
.triangle-contact {
  margin-top: 40px;
  transform: rotate(-60deg) skewX(-30deg) scale(.95,.826);
}
.triangle-contact:before,
.triangle-contact:after {
  content: '';
  position: absolute;
}
.triangle-contact:before {
  transform: rotate(45deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle-contact:after {
  transform: rotate(315deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

//container i-am
.i-am-container--text{
    background: #446063;
    width: auto;
    height: 106px;
    margin-left: 148px;
    margin-right: 18px;
    margin-top: -80px;
    border-radius: 0 12px 12px 0;
 
  }
  .i-am-container--text-angle {
    width:  70px;
    height: 122px;
    background:#446063;
    border-radius: 12px 0 0 18px;
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
    margin-left: 108px;
    margin-top: -114px;
  }
  .i-am--text{
      position: absolute;
      margin-top: -110px;
      margin-left:120px;
  }
  .i-am--text h3{
      margin:4px;
      padding-left: 32px;
  }
  .i-am--text p{
      margin: 2px;
  }
  .i-am--text p:nth-child(2){
    margin-left: 20px;
  }
  .i-am--text p:nth-child(3){
    margin-left: 12px;
  }

  .form-container{
      margin-top: 20px;
      display: grid;
      place-items: center;
  }

  .form-container .input-group{
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  input{
      border: none;
      border-radius: 6px;
      padding: 6px;
      width: 200px;
  }

.messege-box{
    border-radius: 20px;
    width: auto;
    min-width: 200px;
    max-width: 400px;
    min-height: 140px; 
}

