  //card
*{
  font-size:1.6rem;
}
a{
  color: white;
  text-decoration: none;
}
.contact-container{
  display: grid;
  justify-items: center;
}
.contact-container--information{
  margin-top: 5.6rem;
  margin-left: 2rem;
  background: #CCD1D7;
  width: 31rem;
  height: 48rem;
  border-radius: 1.2rem;
  display:grid;
  justify-content: center;
}
.logo{
  //background-color: purple;
  width:14rem;
  position: absolute;
  margin-left: -6rem;
  margin-top: -3rem;
}
.contact-input-container{
  background: #446063;
  width: 22rem;
  height: 8.6rem;
  border-radius: 12px 12px 12px 0;
  margin-left: 7rem;
  margin-top: 0.6rem;
}
.contact-input-container-angle {
  width:  7rem;
  height: 9.9rem;
  background:#446063;
  border-radius: 18px 0px 12px 12px;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
  margin-left: 3.6rem;
  position: absolute;
}
.contact-input--container{
  position: absolute;
  display: grid;
  place-items: center;
  width: 30rem;
}
.contact-input--container h2{
   margin: 0.6rem 0 0 2rem;
}
.label-name{
  margin: 12px 6px 0 60px;
}
.label-email{
  margin: 6px 6px 0 48px;
}
.contact-input--container input{
  border-radius: 0.6rem;
  width: 18rem;
  padding-left: 0.6rem;
}
.comentari-input textarea{
  width: 28rem;
  height:30rem;
  margin-top: 2rem;
  margin-left: 1rem;
  border-radius: 0.6rem;
  padding-left: 0.6rem;
  padding-top: 0.6rem;
}


button{
  margin-top: 1rem;
  margin-left: 18rem;
  background: #FBA31B;
  border-radius: 0.6rem 0.6rem 0 0.6rem;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  padding-right: 1rem;
}
.button-angle-left {
  margin-top: 0.8rem;
  margin-left: 23.8rem;
  width:  2.4rem;
  height: 3.9rem;
  background: #FBA31B;
  position: absolute;
  border-radius: 0.4rem 0.8rem 0.8rem 0 ;
  transform: rotate(0deg) skewX(30deg) scale(1,.866);
}
p{
  font-size: 2rem;
}

.contact-networks {
  z-index: 0;
  width: 12rem;
  height: 3.4rem;
  padding: 0.4em;
  margin-top: 32.6rem;
  border-radius: 0.6rem;
  background: #446063;
}
.contact-networks svg{
  height: 2rem;
  width: 2rem;
}
.contact-networks a{
  margin-left: 0.2rem;
  margin-right: 1.8rem;
}
.info-input-container{
  display: grid;
  grid-template-columns: 1fr auto;
}
.info-input{
  margin-top: 0.4rem;
  padding:0;
}
.container--email-text{
  margin-left: 6rem;
  margin-top: 1rem;
}
@media (min-width: 800px){
  .contact-container--information{
    margin-top: 1rem;
    width: 56rem;
    height: 46rem;
  }
  .contact-input--container{
    display: inline-block;
    width: 40rem;
  }
  .contact-input--container h2{
    font-size: 2rem;
    margin-left: 20rem;
  }
  .contact-input--container label{
    margin-left: 6rem;
  }
  .contact-input--container input{
    margin-left: 3rem;
    width: 32rem;
  }
  .backgroud-input-container{
    margin-top: 1rem;
  }
  .contact-input-container{
    width: 46rem;
    height: 10rem;
  }
  .contact-input-container-angle{
    height: 11.4rem;
  }
  .contact-input--container{
    margin-top: 1.8rem;
  }
  .comentari-input textarea{
    width: 53.4rem;
    height:28rem;
    margin-top: 1rem;
    margin-left: 1.2rem;
  }
  .button-contact--enviar{
    margin-left: 26.4rem;
  }
  .contact-networks{
    margin-top: 30rem;
  }

}

