

$primary: #FBA31B;
$primary_70p: #E38521;
$gray_30p: #ccd1d7;
$gray_30p_gradient: #e2e8ee;
$secondary: #354c4f;

$backgroundPage: #141e1d;

/*Acromatopsia -- ningun color */
$primary_notAll: #a1a1a1;
$primary_70p_notAll: #a1a1a1;

$secondary_notAll: #a1a1a1;

$gray_30p_notAll: #dedede;

/* Tritanopia -- no ve rojo */
$primary_tritanopia: #f77075;
$primary_70p_tritanopia: #e26569;

$secondary_tritanopia: #456262;

$gray_30p_tritanopia: #d9e2e2;

/* Deuteranopia -- mas amarillo */
$primary_deuteranopia: #dfe55f;
$primary_70p_deuteranopia: #d0d658;

$secondary_deuteranopia: #4f4d62;

$gray_30p_deuteranopia: #dbdbe3;


@mixin button_mixin() {
  width: 100%;
  text-align: center;
  padding: 3px 0px;
  border-radius: 14px;
  box-shadow: inset -4px -4px 10px 1px #3131317b;

  p, a {
    font-weight: 800;
    background-color: $backgroundPage;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  &:hover {
    box-shadow: inset -4px -4px 10px 1px #31313129;
    p, a {
      text-shadow: 2px 2px 3px rgba(130, 130, 130, 0.5);
    }
  }
}


/*esta pensado los colores para que lo implemente .cardExample */
@mixin card_color_mixin($pri_70:$primary_70p, $pri:$primary, $second:$secondary, $gray_bg:$gray_30p, $gray_gradient:$gray_30p_gradient) {
  background-color: $gray_bg; /*$gray_30p */
  background-image: linear-gradient(160deg, $gray_bg 0%, $gray_gradient 100%);
  .cardExample_figure {
    background-color: $pri; /*$primary_70p*/
  }
  .cardExample_info_container {
    background-color: $second; /*$secondary*/
  }
  .cardExample_more_info{
    background-color: $second; /*$secondary*/
  }
  .cardExample_figure {
    background-color: $pri; /*$primary*/
  }
  .cardExample_info_container {
    background-color: $second; /*$secondary*/
  }
  .cardExample_link.git {
    background-color: #9099a6;
  }
  .cardExample_link.web {
    background-color: $pri;/*$primary*/
  }
}

.cardExample {
  &.all {
    @include card_color_mixin ();
  }
  &.acromatopsia {
    @include card_color_mixin ($primary_notAll, $primary_70p_notAll, $secondary_notAll, $gray_30p_notAll, $gray_30p_notAll);
    .cardExample_img{
      filter: grayscale(100%);
    }
  }
  &.deuteranopia {
    @include card_color_mixin ($primary_deuteranopia, $primary_70p_deuteranopia, $secondary_deuteranopia, $gray_30p_deuteranopia, $gray_30p_deuteranopia);
    .cardExample_img {
      filter: saturate(0) contrast(0.9) brightness(1.1) sepia(0.1) grayscale(0.9)
              hue-rotate(-20deg)
              opacity(0.8)
              drop-shadow(0 0 2px #000000);
    }
  }
  &.tritanopia {
    @include card_color_mixin ($primary_tritanopia, $primary_70p_tritanopia, $secondary_tritanopia, $gray_30p_tritanopia, $gray_30p_tritanopia);
    .cardExample_img {
      filter: saturate(0) contrast(0.9) brightness(1.1) sepia(0.1) grayscale(0.9)
              hue-rotate(90deg)
              opacity(0.8)
              drop-shadow(0 0 2px #000000);
    }
  }
}

//-- cardExample link
.cardExample_link_container {
  .cardExample_link.git {
    @include button_mixin();
  }
  .cardExample_link.web {
    @include button_mixin();
  }
}
