
@mixin skill_card_mixin ($pri_70: $primary_70p, $pri: $primary, $second: $secondary, $gray_bg: $gray_30p, $gray_gradient: $gray_30p_gradient) {
  background-color: $gray_bg;

  .skill_figure {
    background-color: $pri;
  }

  .skill_section {
    background-color: $second;
  }

    .skill_a {
      background-color: $pri_70;
      p, a {
        background-color: $backgroundPage;
      }
    }
}

//-- cardExample mismo que link de card-example

//paso las variantes para los diferentes casos de color
.card_skill {
  &.all {
    @include skill_card_mixin();
  }

  &.acromatopsia {
    @include skill_card_mixin($primary_notAll, $primary_70p_notAll, $secondary_notAll, $gray_30p_notAll, $gray_30p_notAll);

    .filterColor_img {
      filter: grayscale(100%);
    }
  }

  &.deuteranopia {
    @include skill_card_mixin($primary_deuteranopia, $primary_70p_deuteranopia, $secondary_deuteranopia, $gray_30p_deuteranopia, $gray_30p_deuteranopia);

    .filterColor_img {
      filter: saturate(0) contrast(0.9) brightness(1.1) sepia(0.1) grayscale(0.9) hue-rotate(-20deg) opacity(0.8) drop-shadow(0 0 2px #000000);
    }
  }

  &.tritanopia {
    @include skill_card_mixin($primary_tritanopia, $primary_70p_tritanopia, $secondary_tritanopia, $gray_30p_tritanopia, $gray_30p_tritanopia);

    .filterColor_img {
      filter: saturate(0) contrast(0.9) brightness(1.1) sepia(0.1) grayscale(0.9) hue-rotate(90deg) opacity(0.8) drop-shadow(0 0 2px #000000);
    }
  }
}
