$primary: #FBA31B;
$primary_70p: #E38521;

$gray_30p: #ccd1d7;
$gray_30p_gradient: #e2e8ee;
$gray_40p: #9099A6;

$secondary: #446063;

$background_color: #141e1d;

.header{
  width: 100%;
  background-color: #141e1dd2;
  display: grid;
  position: fixed;
  z-index: 2;
//--- first section
  .header_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr 1fr;
    background: $gray_30p;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;

    .header-title, .header_social-container {
      width: 300px;
    }
    .header-title {
      font-size: 0px;
      width: 100%;
      justify-content: end;
      padding-right: 20px;
    }
    .header_text-container {
      background-color: $gray_30p;
      padding: 16px;
      border-radius: 20px;
      border-bottom: solid 10px $background_color;

      .header_text-area {
        width: 100%;
        background: $secondary;
        border-radius: 20px;
        height:80px;
        box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
        padding: 12px;
      }
    }
    .header_social-container {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;

      .social_icon {
        width: 30px;
        height: 30px;
        background-size: cover;
      }
    }
  }
//--- second section
  .header_navigation-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: absolute;
    top: 90px;
    justify-content: space-between;
    width: 100%;
    .border_navigation {
      background-color: #141e1d;
      height: 16px;
      //-- internal second section
      .header_navigation, .header_navigation-explorer {
        margin-top: -14px;
        height: auto;
        background-color: $gray_30p;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
        padding: 10px;
        align-items: center;
        margin-top: 12px;
        margin-right: 12px;
        margin-left: 12px;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.313);
        align-items: baseline;
        @media (max-width: 720px) {
          margin-right: 0px;
          margin-left: 0px;
        }
        button {
          background: none;
        }
      }
          //---
      .header_navigation {
        border-radius: 0 16px 16px 0;
        grid-template-columns: 1fr auto;
        align-items: center;
        &.open {
          align-items: flex-start;
          .navigation_icon {
            margin-top: 8px;
          }
        }
      }
      .header_navigation-explorer {
        border-radius: 16px 0px 0px 16px;
        grid-template-columns: auto 1fr;
        align-items: center;
        .inputFilter {
          font-size: 18px;
          color: white;
        }
      }

    }
    .border_navigation-radiusR {
      border-radius: 0 12px 0 0;
    }
    .border_navigation-radiusL {
      border-radius: 12px 0 0 0;
    }
    //---
    .header_container-detail {
      width: 110%;
      // background-color: $gray_30p;
      border-radius: 0 0 16px 16px;
      height: 16px;
      margin-left: -8px;
      margin-right: -8px;
      z-index: 2;
    }
  }
}

//-- thre section - internal navigation
.header_navigation, .header_navigation-explorer {
  .background_green {
    background-color: $secondary;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 6px;
    .inputFilter {
      width: 100%;
      height: 100%;
      background-color: $secondary;
      color: white;
      font-size: 1.8rem;
    }
  }
  .background_orange {
    background-color: $primary_70p;
    border-radius: 12px;
    width: 64px;
    height: 40px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 0px;
    text-align: center;
  }
}
.header_navigation {
  .background_green .p {padding-left: 40px;}
 }
//--- icon hover
$icon-border-radius: 2px;
$icon-background: none;

//--- root icons
.header{
  .header-title {
    display: flex;
    font-size: 0px;
    margin-top: -16px;
    .img_title {
      min-width: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .Study {
      background-image: url("../../../assets/icons/root/study.svg");
    }
    .Study:hover {
      background-image: url("../../../assets/icons/root/study_hover.svg");
    }
    // root icons media
    @media (max-width: 1200px) {
      min-width: auto;
      width: 100%;
      margin-top: -30px;
    }
    @media (max-width: 940px) {
      .img_title {
        min-width: auto;
        width: 160px;
      }
    }
  }
}



//--- social icons
.icon_git,
.icon_in,
.icon_mail {
  border-radius: $icon-border-radius;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.icon_git {
  background-image: url("../../../assets/icons/git.svg");
}
.icon_git:hover {
  background-image: url("../../../assets/icons/git_hover.svg");
}

.icon_in {
  background-image: url("../../../assets/icons/link.svg");
}
.icon_in:hover {
  background-image: url("../../../assets/icons/link_hover.svg");
}

.icon_mail {
  background-image: url("../../../assets/icons/correo.svg");
}
.icon_mail:hover {
  background-image: url("../../../assets/icons/correo_hover.svg");
}

//--- navigation icons
.navigation_icon {
  margin: 0 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon_menu {
  background-image: url("../../../assets/icons/menu.svg");
  width: 24px;
  height: 24px;
}
.icon_menu:hover {
  background-image: url("../../../assets/icons/menu_hover.svg");
}
//para mostrar el button activo en movile
.icon_menu.open {
  background-image: url("../../../assets/icons/menu_hover.svg");
}
// .icon_menu:not(:hover) {
//   transition-delay: 0.5s; /* Agregamos un retraso antes de revertir el cambio */
//   background-image: url("../../../assets/icons/menu.svg");
// }

.icon_search {
  background-image: url("../../../assets/icons/search.svg");
  width: 30px;
  height: 30px;
}
.icon_search:hover, .icon_search.open {
  background-image: url("../../../assets/icons/search_hover.svg");
}
.icon_cancel_search {
  background-image: url("../../../assets/icons/cancel.svg");
  width: 30px;
  height: 30px;
}

//---sub menu keyframes
@keyframes openAnimate {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px; /* Establece un valor máximo adecuado */
  }
}
@keyframes closeAnimate {
  0% {max-height: 500px;
  }
  100% {
    max-height: 0px;
  }
}
@keyframes marginTopAnimation {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
@keyframes closeMarginTopAnimation {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
//--- submenu navigation
.submenu-container {
  display: grid;
  max-height: 0px;
  overflow: hidden;
  ul {
    padding-left: 0;
  }
  &.open {
    animation: openAnimate 2s forwards, marginTopAnimation 0.2s forwards;
    transition: 2s top 0.2s ease-in-out;
    max-height: auto;
    @media (max-width: 920px) {
      animation: openAnimate 2.2s 2s forwards, marginTopAnimation 0.6s 2s forwards;
    }
    .background_green-options {
      width: 200px !important;
      .p {
        font-size: 1.6rem !important;
      }
    }
  };
  .background_green-options {
    width: 200px ;
    margin-bottom: 10px;
  }
  align-content: flex-start;
  grid-gap: 10px;
  place-content: center;
  justify-content: unset;
  margin-top: 0px;

  .background_green-options {
    background-color: $gray_40p;
    transition: background-color 0.4s, box-shadow 0.6s;
    &:hover {
      background-color: $primary_70p;
      box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.25);
    }
  }

  .submenu-option {
    width: 200px;
    border-bottom: solid 2px $gray_40p;
    text-align: center;
  }
  .submenu-option:hover {
    p {
      background-color: $primary_70p;
    }
  }
}
.submenu-container:not(.open) {
  animation: closeMarginTopAnimation 1s forwards, closeAnimate 1s forwards;
}

.header {
  //--- media
  .header_container {
    @media (max-width: 1510px) {
      grid-template-columns: 1fr 2fr 1fr;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 1fr auto 1fr;
      box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
      border-bottom: solid 8px $background_color;
      padding-left: 20px;
      padding-right: 20px;
      .header_text-container {
        border-bottom: solid 8px $background_color;
        height: 130px;
        margin-left: -10px;
        padding: 0 10px;
        margin-right: -10px;
        padding-top: 4px;

        .header_text-area {
          width: auto;
          height: 110px;
        }
      }
      .header_social-container {
        margin-bottom: 0px;
        width: auto;
        padding-left: 20px;
        margin-top: -26px;
      }
    }
    @media (max-width: 720px) {
      grid-template-columns: 1fr auto;
      .header_text-container {
        border-bottom: none;
        height: 80px;
        margin: 0;
        .header_text-area {
          height: 70px;
        }
      }
      .header_social-container {
        padding-left: 0;
        width: 160px;
        .social_icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .header_navigation-container {
    @media (max-width: 1510px) {
      grid-template-columns: 1fr 2fr 1fr;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 1fr auto 1fr;
      top: 100px;
      display: flex;
      .border_navigation {
        background-color: #00000000;
      };
      .header_container-detail {
        display: none;
      };

      .header_navigation-explorer, .header_navigation {
        .background_green {
          width: 0px;
          display: none;
          transition: width 2s 0.2s ease-in-out;
          .p {
            font-size: 0rem;
            transition: font-size 0.3s 1s ease-in-out;
          }
          &.open {
            width: 200px !important;
            .p {
              font-size: 1.6rem;
            }
          }
        }
      };
      .header_navigation-explorer:hover {
        .background_green {
          width: 200px;
          display: block;
          .p {
            font-size: 1.6rem;
          }
        }
      };
      .header_navigation-explorer:not(:hover) {
        .background_green {
          display: block;
        }
      };
      //--
      .header_navigation:not(:hover) {
        .background_green {
          display: block;
        }
      };
      .header_navigation:hover {
        .background_green {
          width: 200px;
          display: block;
          p {
            font-size: 1.6rem;
          }
        }
      };
      .searchAnimation {
        &.open {
          width: 200px;
        }
      }
      .searchAnimation:focus-within {
        width: 200px !important;
      }
      .header_navigation-explorer {
        .inputVal {
          width: 200px !important;
        }
      }
    }
    @media (max-width: 1080px) {
      top: 124px;
    }
    @media (max-width: 720px) {
      top: 100px;
    }
  }
}
