.header{
  width: 100%;
  background-color: #141e1dd2;
}
.header-container{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.header-container .img-left{
  justify-items: left;
}
.header-container .img-rigth{
  justify-items: right;
}
.header-container .span-container{
  margin-top: 1rem;
  text-align: center;
}
.span-container h1{
  font-size: 2.2rem;
}
.span-container p{
  font-size: 1.6rem;
}
img{
  height: 12rem;
}
.img-rigth{
  display: grid;
}
.eddit-container{
  display: grid;
  justify-items: right;
}
button{
  background: none;
}
button svg{
  color: #FBA31B;
  width: 3rem;
  height: auto;
  margin-right: 3rem;
}
.eddition-container{
  margin-top: 2rem;
  display: grid;
  place-items: center;
}
.change{
  z-index: 1;
  margin-top: 25rem;
  position: absolute;
}
.option{
  display: none;
  &.active{
    display: grid;
  }
}
