$primary: #FBA31B;
$primary_70p: #E38521;

$gray_30p: #ccd1d7;
$gray_30p_gradient: #e2e8ee;
$gray_40p: #9099A6;

$secondary: #446063;

$background_color: #141e1d;

.header{
  width: 100%;
  background-color: #141e1dd2;
  display: grid;
  position: fixed;
  z-index: 2;
//--- first section
  .header_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 1fr;
    background: $gray_30p;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 130px;

    .header-title, .header_social-container {
      width: 300px;
    }
    .header-title {
      font-size: 0px;
      width: 100%;
      justify-content: end;
      padding-right: 20px;
      padding-top: 16px;
    }
    .header_text-container {
      background-color: $gray_30p;
      padding: 16px;
      border-radius: 20px;
      border-bottom: solid 10px $background_color;

      .header_text-area {
        width: 100%;
        background: $secondary;
        border-radius: 20px;
        height:80px;
        box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
        padding: 12px;
      }
    }
    .header_social-container {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;

      .social_icon {
        width: 40px;
        height: 40px;
      }
    }
  }
//--- second section
  .header_navigation-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: absolute;
    top: 114px;
    justify-content: space-between;
    width: 100%;
    .border_navigation {
      background-color: #141e1d;
      height: 16px;
      //-- internal second section
      .header_navigation, .header_navigation-explorer {
        margin-top: -14px;
        height: 60px;
        background-color: $gray_30p;
        display: flex;
        gap: 10px;
        height: 60px;
        padding: 10px;
        align-items: center;
        margin-top: 12px;
        margin-right: 12px;
        margin-left: 12px;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.313);
      }

    }
    .border_navigation-radiusR {
      border-radius: 0 12px 0 0;
    }
    .border_navigation-radiusL {
      border-radius: 12px 0 0 0;
    }
    //---
    .header_container-detail {
      width: 110%;
      // background-color: $gray_30p;
      border-radius: 0 0 16px 16px;
      height: 16px;
      margin-left: -8px;
      margin-right: -8px;
      z-index: 2;
    }
    //---
    .header_navigation {
        border-radius: 0 16px 16px 0;
    }
    .header_navigation-explorer {
      border-radius: 16px 0px 0px 16px;
    }
  }
}

//-- thre section - internal navigation
.header_navigation, .header_navigation-explorer {

  .backgrodun_green {
    background-color: $secondary;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 6px;
  }
  .backgrodun_orange {
    background-color: $primary_70p;
    border-radius: 12px;
    width: 64px;
    height: 40px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 0px;
    text-align: center;
  }
}

//--- icon hover
$icon-border-radius: 2px;
$icon-background: none;

//--- root icons
.header-title {
  display: flex;
  font-size: 0px;
  .Study {
    background-image: url("../../../assets/icons/root/study.svg");
    min-width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Study:hover {
    background-image: url("../../../assets/icons/root/study_hover.svg");
  }
}


//--- social icons
.icon_git,
.icon_in,
.icon_mail {
  border-radius: $icon-border-radius;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.icon_git {
  background-image: url("../../../assets/icons/git.svg");
}
.icon_git:hover {
  background-image: url("../../../assets/icons/git_hover.svg");
}

.icon_in {
  background-image: url("../../../assets/icons/link.svg");
}
.icon_in:hover {
  background-image: url("../../../assets/icons/link_hover.svg");
}

.icon_mail {
  background-image: url("../../../assets/icons/correo.svg");
}
.icon_mail:hover {
  background-image: url("../../../assets/icons/correo_hover.svg");
}

//--- navigation icons
.navigation_icon {
  width: 40px;
  height: 40px;
  margin: 0 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon_menu {
  background-image: url("../../../assets/icons/menu.svg");
}
.icon_menu:hover {
  background-image: url("../../../assets/icons/menu_hover.svg");
}
.icon_search {
  background-image: url("../../../assets/icons/search.svg");
}
.icon_search:hover {
  background-image: url("../../../assets/icons/search_hover.svg");
}
