
<header class="header">
 <!-- <div class="header-container">
  <div class="img-left">
    <img src="https://i.imgur.com/3ZTlZlR.png">
  </div>
  <span class="span-container" >
    <h1> {{PrintRuta.nombre}} </h1>
    <p> {{PrintRuta.descripcion}} </p>
  </span>
  <div class="img-rigth">
    <img src="https://i.imgur.com/5OSNkVM.png">
  </div>
 </div> -->

 <div class="header_container">
    <h1 class="header-title">{{PrintRuta.nombre}} <div class={{PrintRuta.nombre}} class="img_title"></div></h1>
    <div class="header_text-container"><div class="header_text-area"><p>{{PrintRuta.descripcion}}</p></div></div>
    <div class="header_social-container">
      <a href="#"><div class="social_icon icon_git"></div></a>
      <a href=""><div class="social_icon icon_in"></div></a>
      <a href=""><div class="social_icon icon_mail"></div></a>
    </div>
 </div>
 <div class="header_navigation-container">
    <div class="border_navigation border_navigation-radiusR">
      <div class="header_navigation">
        <div class="backgrodun_green">
          <p>Study</p>
        </div>
        <a href=""><div class="navigation_icon icon_menu"></div></a>
      </div>
      <!-- menu desplegable -->
      <div class="submenu-container">
        <a class="submenu-option"><p>Trabajos</p></a>
        <a class="submenu-option"><p>Skills</p></a>
        <a class="submenu-option"><p>Algo<p></a>
      </div>
    </div>
    <!-- right navigation -->
    <div class="header_container-detail"></div>
    <div class="border_navigation border_navigation-radiusL">
      <div class="header_navigation-explorer">
        <button (click)="filterEst()"><div class="navigation_icon icon_search"></div></button>
        <div class="backgrodun_green">
          <input type="text" placeholder="buscar" [(ngModel)]="searchValue" (keyup.enter)="filterEst()">
        </div>
      </div>
    </div>
 </div>
</header>

<!-- <div class="eddit-container option"
[class.active]="logeado">
  <button (click)="activeEstady()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
    </svg>
  </button>
</div>
<span class="eddition-container">
  <div class="change" [class.active]="active">
    <app-rout-up-data></app-rout-up-data>
  </div>
</span> -->
