$primary: #FBA31B;
$primary_70p: #E38521;

$gray_30p: #ccd1d7;
$gray_30p_gradient: #e2e8ee;
$gray_40p: #9099A6;
$downText: #565656;

$secondary: #354c4f;

$background_color: #141e1d;

//Acromatopsia -- ningun color
$primary_notAll: #bbbbbb;
$primary_70p_notAll: #bbbbbb;

$secondary_notAll: #bbbbbb;

$gray_30p_notAll: #dedede;
$background_notAll: #161616;

//Tritanopia -- no ve rojo
$primary_tritanopia: #f77075;
$primary_70p_tritanopia: #e26569;

$secondary_tritanopia: #456262;

$gray_30p_tritanopia: #d9e2e2;
$background_tritanopia: #161c1c;

//Deuteranopia -- mas amarillo
$primary_deuteranopia: #dfe55f;
$primary_70p_deuteranopia: #d0d658;

$secondary_deuteranopia: #4f4d62;

$gray_30p_deuteranopia: #dbdbe3;
$background_deuteranopia: #16161c;

//usamos la misma distribucion que: card_color_mixin
@mixin header_color_mixin(
      $pri_70:$primary_70p, $pri:$primary,
      $second:$secondary, $secondBlack:$background_color,
      $gray_bg:$gray_30p, $gray_gradient:$gray_30p_gradient, $gray_40:$gray_40p)
  {
  background-color:$secondBlack;
  .header-title {
    background-color: $downText;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    transition: background-color 0.2s ease;
  }
  .header-title:hover{
    background-color: $pri_70;
  }
  .header_text-container {
    background-color: $gray_bg;
    border-bottom: solid 10px $secondBlack;
    .header_text-area {
      background: $second;
    }
  }
  .header_navigation-container {
    .border_navigation {
      background-color:  $secondBlack;
      .header_navigation, .header_navigation-explorer {
        background-color: $gray_bg;
      }
    }
  }
  //-- thre section - internal navigation
  .header_navigation, .header_navigation-explorer {
    .background_green {
      background-color: $second;
      .inputFilter {
        background-color: $second;
      }
    }
    .background_orange {
      background-color: $pri_70;
    }
  }
  //sub-menu
  .submenu-container {
    .background_green-options {
      background-color: $gray_40;
      &:hover {
        background-color: $pri_70;
      }
    }
  }
  .header_container {
    @media (max-width: 1200px) {
      border-bottom: solid 8px $background_color;
      .header_text-container {
        border-bottom: solid 8px $background_color;
      }
    }
    @media (max-width: 720px) {
      .header_text-container {
        border-bottom: none;
      }
    }
  }
  .header_navigation-container {
    @media (max-width: 1200px) {
      .border_navigation {
        background-color: #00000000;
      };
    }
  }
}

.header{
  width: 100%;
  // background-color: #141e1dd2;
  display: grid;
  position: fixed;
  z-index: 2;
//mixin
  &.all {
    @include header_color_mixin ();
  }
  &.acromatopsia {
    @include header_color_mixin ($primary_notAll, $primary_70p_notAll, $secondary_notAll, $background_notAll, $gray_30p_notAll, $gray_30p_notAll);
  }
  &.deuteranopia {
    @include header_color_mixin ($primary_deuteranopia, $primary_70p_deuteranopia, $secondary_deuteranopia, $background_deuteranopia, $gray_30p_deuteranopia, $gray_30p_deuteranopia);
  }
  &.tritanopia {
    @include header_color_mixin ($primary_tritanopia, $primary_70p_tritanopia, $secondary_tritanopia, $background_tritanopia, $gray_30p_tritanopia, $gray_30p_tritanopia);
  }
//--- first section
  .header_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr 1fr;
    background: $gray_30p;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;

    .header-title {
      margin-top: 16px;
      font-size: 40px;
      font-weight: 900;
      justify-content: end;
      padding-right: 20px;

      color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      @media (max-width: 720px) {
        justify-content: center;
        margin-top: 0px;
      }
    }
    .header_text-container {
      padding: 16px;
      border-radius: 20px;

      .header_text-area {
        width: 100%;
        border-radius: 20px;
        min-height:80px;
        box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
        padding: 12px;
        align-items: center;
        display: flex;
      }
    }
    .header_social-container {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      margin-top: 30px;

      .social_icon {
        width: 30px;
        height: 30px;
        background-size: cover;
      }
    }
  }
//--- second section
  .header_navigation-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: absolute;
    top: 90px;
    justify-content: space-between;
    width: 100%;
    .border_navigation {
      height: 16px;
      //-- internal second section
      .header_navigation, .header_navigation-explorer {
        margin-top: -14px;
        height: auto;
        gap: 10px;
        padding: 10px;
        align-items: center;
        margin-top: 12px;
        margin-right: 12px;
        margin-left: 12px;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.313);
        align-items: baseline;
        @media (max-width: 720px) {
          margin-right: 0px;
          margin-left: 0px;
        }
        button {
          background: none;
        }
      }
          //---
      .header_navigation {
        border-radius: 0 16px 16px 0;
        grid-template-columns: 1fr auto;
        align-items: center;
        transition-delay: 1s ease-in-out;
        display: flex;
        flex-direction: row-reverse;
        &.open {
          align-items: flex-start;
          transition-delay: 1s;
          .navigation_icon {
            margin-top: 8px;
          }
        }
      }
      .header_navigation-explorer {
        border-radius: 16px 0px 0px 16px;
        grid-template-columns: auto 1fr;
        align-items: center;
        display: grid;
        .inputFilter {
          font-size: 18px;
          color: white;
        }
      }

    }
    .border_navigation-radiusR {
      border-radius: 0 12px 0 0;
    }
    .border_navigation-radiusL {
      border-radius: 12px 0 0 0;
    }
    //---
    .header_container-detail {
      width: 110%;
      border-radius: 0 0 16px 16px;
      height: 16px;
      margin-left: -8px;
      margin-right: -8px;
      z-index: 2;
    }
  }
}

//-- thre section - internal navigation
.header_navigation, .header_navigation-explorer {
  .background_green {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 6px;
    .inputFilter {
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
    }
  }
  .background_orange {
    // background-color: $primary_70p;
    border-radius: 12px;
    width: 64px;
    height: 40px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 0px;
    text-align: center;
  }
}
.header_navigation {
  .background_green .p {padding-left: 40px;}
  .background_green .pp {
    margin-left: 12px;
    font-size: 1.6rem;
  }
 }
//--- icon hover
$icon-border-radius: 2px;
$icon-background: none;

//--- root icons
.header{
  .header-title {
    display: flex;
    .img_title {
      min-width: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .Study {
      background-image: url("../../../assets/icons/root/study.svg");
    }
    .Study:hover {
      background-image: url("../../../assets/icons/root/study_hover.svg");
    }
    // root icons media
    @media (max-width: 1200px) {
      min-width: auto;
      width: 100%;
    }
    @media (max-width: 940px) {
      .img_title {
        min-width: auto;
        width: 160px;
      }
    }
  }
}



//--- social icons
.icon_git,
.icon_in,
.icon_mail {
  border-radius: $icon-border-radius;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.icon_git {
  background-image: url("../../../assets/icons/git.svg");
}
.icon_git:hover {
  background-image: url("../../../assets/icons/git_hover.svg");
}

.icon_in {
  background-image: url("../../../assets/icons/link.svg");
}
.icon_in:hover {
  background-image: url("../../../assets/icons/link_hover.svg");
}

.icon_mail {
  background-image: url("../../../assets/icons/correo.svg");
}
.icon_mail:hover {
  background-image: url("../../../assets/icons/correo_hover.svg");
}

//--- navigation icons
.navigation_icon {
  margin: 0 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon_menu {
  background-image: url("../../../assets/icons/menu.svg");
  width: 24px;
  height: 24px;
}
.icon_menu:hover {
  background-image: url("../../../assets/icons/menu_hover.svg");
}
//para mostrar el button activo en movile
.icon_menu.open {
  background-image: url("../../../assets/icons/menu_hover.svg");
}
// .icon_menu:not(:hover) {
//   transition-delay: 0.5s; /* Agregamos un retraso antes de revertir el cambio */
//   background-image: url("../../../assets/icons/menu.svg");
// }

.icon_search {
  background-image: url("../../../assets/icons/search.svg");
  width: 30px;
  height: 30px;
}
.icon_search:hover, .icon_search.open {
  background-image: url("../../../assets/icons/search_hover.svg");
}
.icon_cancel_search {
  background-image: url("../../../assets/icons/cancel.svg");
  width: 30px;
  height: 30px;
}

.icon_pencil {
  background-image: url("../../../assets/icons/pencil.svg");
  width: 30px;
  height: 30px;
}
.icon_pencil:hover, .icon_search.open {
  background-image: url("../../../assets/icons/pencil_hover.svg");
}

//---sub menu keyframes
@keyframes openAnimate {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px; /* Establece un valor máximo adecuado */
  }
}
@keyframes closeAnimate {
  0% {max-height: 500px;
  }
  100% {
    max-height: 0px;
  }
}
@keyframes marginTopAnimation {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
@keyframes closeMarginTopAnimation {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
//--- submenu navigation
.submenu-container {
  display: grid;
  max-height: 0px;
  overflow: hidden;
  ul {
    padding-left: 0;
  }
  &.open {
    animation: openAnimate 2s forwards, marginTopAnimation 0.2s forwards;
    transition: 2s top 0.2s ease-in-out;
    max-height: auto;
    @media (max-width: 920px) {
      animation: openAnimate 2.2s 2s forwards, marginTopAnimation 0.6s 2s forwards;
    }
    .background_green-options {
      width: 200px !important;
      .p {
        font-size: 1.6rem !important;
      }
    }
  };
  .background_green-options {
    width: 200px ;
    margin-bottom: 10px;
  }
  align-content: flex-start;
  grid-gap: 10px;
  place-content: center;
  justify-content: unset;
  margin-top: 0px;

  .background_green-options {
    // background-color: $gray_40p;
    transition: background-color 0.4s, box-shadow 0.6s;
    &:hover {
      background-color: $primary_70p;
      box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.25);
    }
  }

  .submenu-option {
    width: 200px;
    border-bottom: solid 2px $gray_40p;
    text-align: center;
  }
  .submenu-option:hover {
    p {
      background-color: $primary_70p;
    }
  }
}
.submenu-container:not(.open) {
  animation: closeMarginTopAnimation 1s forwards, closeAnimate 1s forwards;
}

.header {
  //--- media
  .header_container {
    @media (max-width: 1510px) {
      grid-template-columns: 1fr 2fr 1fr;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 1fr auto 1fr;
      box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
      // border-bottom: solid 8px $background_color;
      padding-left: 20px;
      padding-right: 20px;
      .header_text-container {
        // border-bottom: solid 8px $background_color;
        height: 140px;
        margin-left: -10px;
        padding: 0 10px;
        margin-right: -10px;
        padding-top: 4px;

        .header_text-area {
          width: auto;
          height: 120px;
        }
      }
      .header_social-container {
        margin-bottom: 0px;
        width: auto;
        padding-left: 20px;
      }
    }
    @media (max-width: 720px) {
      grid-template-columns: 1fr auto;
      .header_text-container {
        // border-bottom: none;
        height: 80px;
        margin: 0;
        .header_text-area {
          height: 70px;
          min-height: auto;
          align-items: initial;

          overflow: hidden; /* Aseguramos que el contenido que desborda esté oculto */
          position: relative; /* Permitirá posicionar los elementos hijos correctamente */
          .header_truncate-container {
            animation: updown 14s infinite; /* Añadimos la animación vertical */
            animation-timing-function: linear; /* Ajustamos la función de temporización para que sea lineal */
          }
        }
      }
      .header_social-container {
        padding-left: 0;
        max-width: 120px;
        margin-top: -26px;
        .social_icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  @keyframes updown {
    0% {
      transform: translateY(0%);
    }
    2%, 100% {
      transform: translateY(0%);
    }
    46% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(-100%);
    }
  }

  .header_navigation-container {
    @media (max-width: 1510px) {
      grid-template-columns: 1fr 2fr 1fr;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 1fr auto 1fr;
      top: 100px;
      display: flex;
      .border_navigation {
        background-color: #00000000;
      };
      .header_container-detail {
        display: none;
      };

      .header_navigation-explorer, .header_navigation {
        .background_green {
          width: 0px;
          display: none;
          transition: width 2s 0.2s ease-in-out;
          .pp {
            font-size: 0rem;
            transition: font-size 0.3s 1s ease-in-out;
          }
          &.open {
            width: 200px !important;
            .p {
              font-size: 1.6rem;
            }
            .pp {
              margin-left: 12px;
              font-size: 1.6rem;
            }

          }
        }
      };
      .header_navigation-explorer:hover {
        .background_green {
          width: 200px;
          display: block;
          .p {
            font-size: 1.6rem;
          }
        }
      };
      .header_navigation-explorer:not(:hover) {
        .background_green {
          display: block;
        }
      };
      //--
      .header_navigation:not(:hover) {
        .background_green {
          display: block;
        }
      };
      .header_navigation:hover {
        .background_green {
          width: 200px;
          display: block;
          p {
            font-size: 1.6rem;
          }
        }
      };
      .searchAnimation {
        &.open {
          width: 200px;
        }
      }
      .searchAnimation:focus-within {
        width: 200px !important;
        border: solid 2px red;

      }
      .header_navigation-explorer {
        .inputVal {
          width: 200px !important;
        }
      }
    }
    @media (max-width: 1080px) {
      top: 124px;
    }
    @media (max-width: 720px) {
      top: 100px;
    }
  }
}
