
@keyframes slide-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    transform: translateX(-300%);
    opacity: 0;
  }
}
