//i-am-container
.delete{
  color: red;
  font-size: 2rem;
  position: absolute;
  right: 6rem;
  margin-top:-6rem;
}
svg{
  color: #FBA31B;
  position: absolute;
  height: 2.8rem;
  width: 2.8rem;
  right: 4.8rem;
  margin-top: 46rem;
}
.about-container{
    margin-top: 90px;
    background: #E2E2E0;
    width: 84vw;
    max-width: 500px;
    border-radius: 20px;
    font-size: 1.6rem;
    padding-bottom: 3rem;;
    margin-bottom: 10px;
}
.about-container-SM{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 50px;
    padding: 1rem 1rem;
}

//left
.top-left{
    grid-column: 1;
    background: none;
}

.rectangle-left{
    background: #FBA31B;
    width: 56px;
    height: 41px;
    border-radius: 6px 6px 0 6px;
    text-align: center;
    font-size: 6rem;
}
.angle-left {
    width:  40px;
    height: 47px;
    background: #FBA31B;
    border-radius: 0 4px 8px 0;
    position: absolute;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 4.4rem;
    margin-top: -4.4rem;
}
.triangle-photo img{
  width: 160px;
  margin-top: -60px;
  margin-left: 5.6rem;
}
//right
.top-right{
  grid-column: 5;
  background: none;
}
.rectangle-rigth{
    background: #FBA31B;
    width: 56px;
    height: 41px;
    margin-top:10px;
    border-radius: 6px 6px 6px 0;
}
.angle-rigth {
    width:  40px;
    height: 47px;
    background: #FBA31B;
    border-radius: 4px 4px 0 8px ;
    position: absolute;
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
    margin-top: 7px;
    margin-left:-28px;
}

.about-containter--text{
  background: #B3B3B3;
  width: 86%;
  height:400px;
  margin: 0 auto;
  border-radius: 12px;

}
.about-containter--text h3{
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}
.about-containter--text p{
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

.eddition-container{
  display: grid;
  place-items: center;
}
.change{
  border: 0.4rem solid #FBA31B;
  background: #B3B3B3;
  border-radius: 2rem;
  padding: 1rem;
  position: absolute;
  margin-top: 40rem;
  display: none;
  &.active{
    transform: translateY(0);
    display: grid;
  }
}
.option{
  display: none;
  &.active{
    display: grid;
  }
}

