<div class="about-container">

  <div class="about-container-SM">
    <a class="top-left" href="">
      <div>
          <div Class="rectangle-left"></div>
          <div Class="angle-left"></div>
      </div>
    </a>
    <div class="triangle-photo">
      <img [src]="about.foto">
    </div>
    <a href="" class="top-right">
      <div Class="angle-rigth"></div>
      <div Class="rectangle-rigth"></div>
    </a>
  </div>

  <div class="about-containter--text">
    <h3> {{about.titulo}} </h3>
    <p> {{about.descripcion}} </p>
  </div>

</div>
