//mixin
// @import url(../../../styles/mixin/about-mixin.scss);

// mobile second row
.second-row{
  grid-template-columns: 1fr 2fr;
  display: none;
}

.section-container {
  overflow: hidden;
  &.container {
    @media (max-width: 992px) {
      max-width: 80%;
    }
    @media (max-width: 860px) {
      max-width: 95%;
    }
  }
}

// section i-am
.section_iam {
  width: 490px;
  height: 170px;
  display: flex;
  padding: 16px;
  border-radius: 12px;
  .iam_img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
  }
  .iam_text-container {
    border-radius: 10px;
    width: 100%;
    margin-left: 16px;
    padding: 10px;
    display: grid;
    align-content: space-around;
    b {
      font-size: 16px;
    }
  }
  @media (max-width: 1200px) {
    width: 380px;
  }
}
// section redes sociales
.section_link {
  width: 100%;
  height: 170px;
  display: flex;
  padding: 16px;
  border-radius: 12px;
  .link_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
  }
  .link_icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .social-btn {
    background: none;
    display: flex;
    gap: 10px;
    height: 26px;
    align-items: center;
  }

  .link_icon-linkedin {
    padding: 4px 4px 0 6px;
    svg {
      color: #007cff;
    }
  }
  .link_icon-github {
    padding: 3px 6px 0 6px;
    svg {
      color: #353535;
    }
  }
  .link_icon-behance {
    padding: 3px 6px 0 7px;
    background-color: #007cff;
    svg {
      color: #ffffff;
    }
  }
  .link_icon-blog {
    padding: 4px 4px 0 6px;
    svg {
      color: #62482e;
    }
  }
}

//section idiomas
.section_language {
  width: 226px;
  height: 170px;
  display: flex;
  padding: 16px;
  border-radius: 12px;
  .language_container {
    width: 100%;
    height: 100%;
    padding-top: 14px;
    padding-left: 10px;
    border-radius: 10px;
    display: grid;
    align-content: normal;
    justify-content: center;
  }
  .language_entry {
    display: flex;
    gap: 20px;
  }
  .language_icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
}

//section narrativa
.section_speak {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  min-height: 300px;
  .speak_container {
    width: 100%;
    height: 100%;
    padding: 14px;
    border-radius: 10px;
    display: grid;
    align-content: normal;
    p{
      line-height: 26px;
    }
  }
}

//section programas
.section_program {
  width: 226px;
  display: flex;
  padding: 16px;
  border-radius: 12px;
  .program_container {
    display: grid;
    width: 100%;
    height: 100%;
    align-content: space-around;
    justify-content: center;
    border-radius: 10px;
  }
  .social-btn {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .program_img{
    width:34px;
    height: 34px;
    border-radius:50%;
  }
}
//section programas row
.section_program-row {
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 12px;
  .program_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    align-content: space-around;
    border-radius: 10px;
  }
}

// 992px
@media (max-width: 992px) {
  .about_first-row {
    grid-template-columns: 1fr 2fr;
    .section_language {
      display: none;
    }
  }
  .second-row{
    display: grid;
  }
  .about_three-row {
    grid-template-columns: 1fr;
    .section_program{
      display: none;
    }
  }
}

//720px
@media (max-width: 720px) {
  .about_first-row {
    grid-template-columns: 1fr;
    .section_iam {
      width: 100%;
    }
    .iam_text-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .link_container {
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 24px;
    }
  }
  .second-row{
    display: flex;
    flex-direction: column-reverse;
  }
  .section_program-row {
    height: 140px;
    justify-items: center;
  }
  .section_language {
    width: 100%;
    height: 100px;
    .language_container {
      display: grid;
      justify-content: space-around;
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 22px;
      .language_entry {
        padding-left: 10px;
      }
    }
  }
}
@media (max-width: 620px) {
  .iam_text-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 460px) {
  .section_link {
    .link_container {
      grid-template-columns: 1fr 1fr;
    }
  }
  .section_program-row {
    height: 190px;
    .program_container {
      grid-template-columns: 1fr 1fr;
    }
  }
  .section_language{
    .language_container{
      grid-template-columns: 1fr 1fr;
      padding: 24px;
    }
    .liJapanese {
      display: none;
    }
  }
}
