$primary: #FBA31B;
$primary_70p: #E38521;

$gray_30p: #ccd1d7;
$gray_30p_gradient: #e2e8ee;
$gray_40p: #9099A6;
$gray_60p: #747B85;
$gray_80p: #595F66;
$gray_110p: #060606;

$secondary: #354c4f;

$background_color: #141e1d;


footer {
  width: 100vw;
  margin-bottom: 0;
  transition: 1s margin-bottom ease-in-out;
}
.hidden {
  @media (max-width: 920px){
    margin-bottom: -70px;
  }
}
.footer_text-container {
  background-color: $gray_30p;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  //tipografia bajo relieve
  .p {
    font-size:18px;
    font-weight: 800;
    margin-bottom: 10px;

    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}
.footer_actions {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}
.footer_actions {
  &-borderL {
    position: relative;
  }
  &-containerL {
    background-color: $gray_30p;
    border-radius: 0 16px 0 0;
    border-top: solid 6px $background_color;
    height: 160px;
    top: 0px;
    position: absolute;
    transition: height 2s 0.2s ease-in-out;
    @media (max-width: 700px) {
      height: 216px;
    }
  }
  &-black_space {
    z-index: 2;
    position: relative;
    .black_space {
      width: 100%;
      height: 10px;
      position: absolute;
      background-color: $background_color;
      border-radius: 0 0 16px 16px;
      top: 30px;
      box-shadow: -4px -6px 10px rgba(0, 0, 0, 0.25);
    }
  }
  &-borderR {
    background-color: $gray_30p;
    border-radius: 16px 0 0 0;
    border-top: solid 6px $background_color;
  }
}
.footer_actions-containerL {
  transition: top 1s 0.6s ease-in-out;
  .p {
    transition: color 1s 0.4s ease-in-out;
  }
}
.footer_actions-containerL:hover, .footer_actions-containerL.open{
  top: -130px;
  height: 160px;
  .p {
    color: $primary_70p;
  }
  @media (max-width: 700px) {
    top: -170px;
    height: 216px;
  }
  @media (max-width: 660px) {
    top: -70px;
  }
}
//--- border lef, buttons color blindness
.blindness-title {
  text-align: center;
  width: 100%;
  background: none;
  margin-bottom: -6px;
  .p {
    font-size:18px;
    font-weight: 800;

    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}

.footer_actions {
  @media (max-width: 1230px) {
    grid-template-columns: 1fr 3fr 1fr;
  }
  @media (max-width: 920px) {
    grid-template-columns: 1fr 2fr 1fr;
  }
  @media (max-width: 660px) {
    grid-template-columns: 1fr;
    &-black_space {
      display: none;
    }
    .footer_actions-containerL {
      border-radius: 0;
      box-shadow: -6px -6px 10px 1px rgba(0, 0, 0, 0.25);
    }
  }
}
