span{
  display: grid;
  place-items: center;
}
embed{
  width: 40rem;
  height: 60rem;
  border-radius: 1rem;
}
.pdf-container{
  margin-top:2rem;
  width: 42rem;
  display: grid;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #CCD1D7;
  border-radius: 1rem;
}
