<div (ngSubmit)="onDelete()" class="card-skill">
    <div Class="card-angle-rigth">
        <div Class="rectangle"></div>
        <div Class="angle-rigth"></div>
        <div>
            <h2> {{skill.nombre}} </h2>
            <p> {{skill.descripcion}} </p>
        </div>
    </div>
    <img class="logo" [src]="skill.logo">
    <button *ngIf() type="button" (click)="onShowDetail()" class="consultaId">consultar id</button>
    <button type="button" (click)="onDelete()" class="delete">X</button>
</div>
