//card
.card-skill{

}
.card-angle-rigth{
    position: relative;
    padding-top: 10px;
  }
  .card-angle-rigth div{
    position: absolute;
  }
  .rectangle{
    background: #446063;
    width: 204px;
    height: 68px;
    margin-top:6px;
    border-radius: 12px 12px 0 12px;
  }
  .angle-rigth {
    width:  70px;
    height: 79px;
    background:#446063;
    border-radius: 12px 12px 12px 0;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 180px;
  }
 h2{
     margin: 6px 0 0 10px;
 }
 p{
     margin: 0 0 4px 10px;
 }

 .logo{
  width:120px;
  margin-left: 230px;
  margin-top: -20px;
  margin-bottom: 20px;
  position:relative;
}
.delete{
  position: absolute;
  margin-top: -12px;
  margin-left: 350px;
}
.consultaId{
  background: red;
  width: 100px;
  height: 100px;
}
