

// styles de la card
.card_skill {
  //
  max-width: 530px;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-auto-flow: column;
  box-shadow: 4px 4px 10px 1px #000000, -6px -6px 10px 1px #000000;
  figure {
    margin: 0;
  }
  .skill_figure {
    width: 150px;
    height: 150px;
    border-radius: 18px;
    // background-color: $primary;
    padding: 10px;
    box-shadow: inset -4px -4px 10px 1px #3131317b;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .skill_section {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: 14px;
    position: relative;
    box-shadow: inset -4px -4px 10px 1px #3131317b;
  }
  .skill_a {
    width: 100%;
    text-align: center;
    padding: 2px 0px;
    border-radius: 14px;
    box-shadow: inset -4px -4px 10px 1px #3131317b;
    width: 80px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    p, a {
      font-weight: 800;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
    }

    &:hover {
      box-shadow: inset -4px -4px 10px 1px #31313129;
      p, a {
        text-shadow: 2px 2px 3px rgba(130, 130, 130, 0.5);
      }
    }
  }
}

// card media
.card_skill {
  @media (max-width: 550px) {
    max-width: auto;
    grid-auto-flow: row;
    width: 80%;
    margin: 0 auto;

  }
}
