//card
h2{
  font-size:2rem;
}
a{
  text-decoration: none;
}
.card-study{
  position: relative;
  margin-top: 8rem;
}
.card-angle-rigth-study{
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  right: -3.6rem;
}
.delete{
  color: red;
  position: absolute;
  margin-left: 26rem;
  margin-top: -3rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.rectangle{
  background: #CCD1D7;
  width: 29rem;
  height: 11.6rem;
  border-radius: 12px;
  display: grid;
}
.logo{
  width:16rem;
  margin-left: -7.8rem;
  margin-top: -1.6rem;
  position:absolute;
}

.card-conte--text{
  background: #446063;
  width: 19rem;
  height: 7.2rem;
  margin-top:0.6rem;
  margin-left: 9.2rem;
  border-radius: 12px 12px 12px 0;
  position: absolute;
}
.card-conte--text-angle {
  width:  7rem;
  height: 8.28rem;
  background:#446063;
  border-radius: 18px 0px 12px 12px;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
  margin-left: 6rem;
  margin-top: 1px;

}
.card-conte--text h2{
  margin: 0.4rem 0 0 0.4rem;
}
.card-conte--text p{
  margin: 0 0 0.4rem -0.4rem;
  font-size: 1.4rem;
}

//botton card
.card-conte--button-date-buttom{
  height: 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  margin-left: 6.4rem;
  margin-top: -0.8rem;
}
.rectangle-rigth{
  background: #FBA31B;
  width: 3.8rem;
  height: 2.8rem;
  position: absolute;
  margin-left:1rem;
  margin-top: -3rem;
  border-radius: 6px 6px 6px 0;
  svg{
    width: 3rem;
    color:white;
    margin-top: 0rem;
    margin-left:-1.2rem;
  }
}
.angle-rigth {
  width:  2.2rem;
  height: 3.25rem;
  background: #FBA31B;
  border-radius: 4px 4px 0 8px ;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
}
.rectangle-rigth p{
  margin-left: -14px;
  color: white;
}
.estudio-date{
  width: 10rem;
  color: #141E1D;
}
.estudio-date p{
  margin-top: 0.4rem;
  color: #141E1D;
}
.estudio-date p:nth-child(1){
  margin-bottom: -0.1rem;
}

.card-conte--button-date-buttom p{
  font-size: 1.4rem;
  text-align: center;
  font-weight: normal;

}

.rectangle-left{
  grid-column: 3;
  background: #FBA31B;
  width: 4rem;
  height: 2.8rem;
  margin-top:-1rem;
  //margin-left:-1.6rem;
  border-radius: 6px 6px 0 6px;
  svg{
    width: 2rem;
    color:white;
    margin-top: 0;
    margin-left:-1rem;
  }
}
.angle-left {
  grid-column: 3;
  width:  2rem;
  height: 3.25rem;
  background: #FBA31B;
  border-radius: 4px 8px 8px 0 ;
  position: absolute;
  transform: rotate(0deg) skewX(30deg) scale(1,.866);
  margin-top: -0.2rem;
  margin-left:2.8rem;
}
.rectangle-left p{
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  color: white;
}
.more--container{
  width: 26rem;
  height: auto;
  display: grid;
  background: #CCD1D7;
  border-radius: 1rem;
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
  padding: 0.6rem;
  position: relative;
  left: 6.8rem;

}
.more--container p{
  font-size: 1.4rem;
  padding: 0.6rem 0.6rem 1rem 0.6rem;
  background: #446063;
  border-radius: 1rem;
  margin-bottom: 0;
  line-height: normal;
}
svg{
  color: #FBA31B;
  position: absolute;
  height: 2.8rem;
  width: 2.8rem;
  margin-left: -18rem;
  margin-top: -3.4rem;
}
.edition-container-study{
  display: grid;
  justify-items: right;
  position: relative;
  left: 3.4rem;
  top: 2rem;
}
.change{
  margin-left: -0.8rem;
}
.option{
  display: none;
  &.active{
    display: grid;
  }
}
@media (min-width: 900px){
  .card-angle-rigth{
    margin-right: 0rem;
    margin-top: 8rem;
  }
}
