//card
.card-study{
  width: 100%;
  margin-top: 30px;
}
h2{
  font-size:2rem;
}
.card-angle-rigth{
  position: relative;
  padding-top: 2rem;
  margin-right: 2rem;
}
.card-angle-rigth div{
  position: absolute;
}
.rectangle{
  background: #CCD1D7;
  width: 29rem;
  height: 11.6rem;
  border-radius: 12px;
  margin-left: 6.4rem;
}

.card-conte--text{
  background: #446063;
  width: 19rem;
  height: 7.2rem;
  margin-top:0.7rem;
  margin-left: 9rem;
  border-radius: 12px 12px 12px 0;
}
.card-conte--text-angle {
  width:  7rem;
  height: 8.2rem;
  background:#446063;
  border-radius: 18px 0px 12px 12px;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
  margin-left: 6.6rem;
  margin-top: 0.2rem;
}
.card-conte--text h2{
  margin: 0.4rem 0 0 0.6rem;
  font-size: 2rem;
}
.card-conte--text p{
  margin: 0 0 0.4rem -0.4rem;
  font-size: 1.6rem;
}

.logo{
  max-width:180px;
  margin-left: -30px;
  margin-right: 250px;
  margin-top: -2.2rem;
  margin-bottom: 10px;
  position:relative;
}
//botton card
.rectangle-rigth{
  background: #FBA31B;
  width: 35px;
  height: 26px;
  position: absolute;
  margin-left:60px;
  margin-top:84px;
  border-radius: 6px 6px 6px 0;
  padding-top: 10px;

}
.angle-rigth {
  width:  20px;
  height: 32px;
  background: #FBA31B;
  border-radius: 4px 4px 0 8px ;
  position: absolute;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
  margin-top: 81px;
  margin-left:50px;
}
.rectangle-rigth p{
  margin-left: -14px;
  color: white;
}
.estudio-date{
  margin-left: 14rem;
  margin-top: 8.4rem;
}

.card-conte--button-date-buttom p{
  font-size: 1.4rem;
  margin-top: -4px;
  text-align: center;
  font-weight: normal;

}

.rectangle-left{
  background: #FBA31B;
  width: 30px;
  height: 26px;
  position: absolute;
  margin-top:84px;
  margin-left:220px;
  border-radius: 6px 6px 0 6px;
  padding-top: 10px;
}
.angle-left {
  width:  20px;
  height: 32px;
  background: #FBA31B;
  border-radius: 4px 8px 4px 0 ;
  position: absolute;
  transform: rotate(0deg) skewX(30deg) scale(1,.866);
  margin-top: 81px;
  margin-left:242px;
}
.rectangle-left p{
  margin-left: 6px;
  color: white;
}

.delete{
  color: red;
  position: absolute;
  margin-left: 34rem;
  margin-top: -2.6rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
svg{
  color: #FBA31B;
  position: absolute;
  height: 2.8rem;
  width: 2.8rem;
  right: -1rem;
  margin-top: 8rem;
}
.eddition-container{
  display: grid;
  place-items: center;
}
.change{
  border: 0.4rem solid #FBA31B;
  background: #B3B3B3;
  border-radius: 2rem;
  padding: 1rem;
  display: none;
  &.active{
    transform: translateY(0);
    display: grid;
  }
}
.option{
  display: none;
  &.active{
    display: grid;
  }
}
@media (min-width: 900px){
  .card-study{
    margin-left: 6rem;
  }
}
