
// .canvasElement {
//   position: absolute;
//   top: 0;
// }
.container-component {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.canvasElement {
  overflow-x: hidden;
  position: absolute;
}
