<app-head class="head-home"></app-head>
<div class="closeSesion-container" [class.active]="closeLogin">
  <button class="closeSesion" (click)="disconect()">
    <a>Close Session</a>
  </button>
</div>
<section class="triagle--container" (click)="activeEstady()">
  <div class="triangle">
  </div>
  <div class="triangle-nav-img">
  </div>
  <img class="img-logo" src="https://i.imgur.com/oUF3Sf0.png" alt="circuito electronico con centro circular">
  <h1> hola </h1>
</section>
<div class="iniSesion" [class.active]="openLogin">
  <app-iniciar-sesion></app-iniciar-sesion>
</div>

