
<div class="triagle--container" (click)="activeEstady()">
  <div class="triangle">
  </div>
  <div class="triangle-nav-img">
  </div>
  <img src="https://i.imgur.com/SwM8fZe.png" alt="circuito electronico con centro circular">
  <h1> {{SALUDO}} </h1>
</div>
<div class="iniSesion" [class.active]="openLogin">
  <app-iniciar-sesion></app-iniciar-sesion>
</div>
<div class="closeSesion-container" [class.active]="closeLogin">
    <button class="closeSesion" (click)="disconect()">
      <a>Close Session</a>
    </button>
</div>
