@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 62.5%;
	vertical-align: baseline;
  font-family: 'Nunito', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  color: white;
	line-height: 1.4;
  background: #141E1D;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
