.skills--grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 900px){
  .skills--grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr auto;
    width: 80vw;
  }
}
@media (min-width: 950px){
  .skills--grid{
    margin: 0 auto;
  }
}
@media (min-width: 1400px){
  .skills--grid{
    margin-left: 2%;
  }
}
