<div>
  <div class="post-taitle">
    <h3>Skill</h3>
  </div>
  <form [formGroup]="SkillDTO" class="post-skill">
    <div class="form-container">
    <label for="" class="">nombre</label>
    <input type="text"
      id="name"
      placeholder="name - program or ability"
      formControlName="nombre"
    >

    <label for="" class="">descripcion</label>
    <input type="text"
      id="descripcion"
      placeholder="description"
      formControlName="descripcion"
    >

    <label for="" class="">url</label>
    <input type="text"
      id="url"
      placeholder="url - program description"
      formControlName="url"
    >

    <label for="" class="">logo</label>
    <input type="text"
      id="logo"
      placeholder="logo program or ability"
      formControlName="logo"
    >
    </div>
    <button class="button-post" (click)="saveNew()" >Post</button>
  </form>
</div>
