<article class="card">
    <section class="card-angle-rigth">
      <div class="rectangle">
        <div class="card-conte--text-angle"></div>
        <div class="card-conte--text">
          <h2> {{experience.trabajo}}</h2>
          <p>{{experience.puesto}}</p>
        </div>

        <div class="card-conte--button-date-buttom">
          <div class="experiecne-date">
            <p> {{experience.ini| date:'MM-yyyy' }} </p>
            <p> {{experience.fin| date:'MM-yyyy' }}</p>
          </div>
          <a>
            <div class="angle-rigth"></div>
            <button
              (click)="activeMore()"
              class="rectangle-rigth"
              [class.active]="more">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                </p>
            </button>
          </a>
          <div class="angle-left"></div>
          <div class="rectangle-left">
            <a [href]="experience.url" target="_blank">
              <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                </svg>
              </p>
            </a>
          </div>
        </div>
      </div>

      <a
        class="edit option"
        (click)="activeEstady()"
        [class.active]="logeado">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg>
      </a>
    </section>
    <a
    (click)="deleteExp()"
    class="delete option"
    [class.active]="logeado">X</a>
    <img class="logo" [src]="experience.logo">
    <span class="eddition-container">
      <div class="change" [class.active]="active">
        <app-experience-up-data
        ExpDTO="experience" ></app-experience-up-data>
      </div>
    </span>

    <span class="more--container option" [class.active]="more">
      <p> {{experience.descripcion}} </p>
    </span>



</article>
