//card
p{
  font-size: 1.6rem;
}
a{
  text-decoration: none;
}
h2{
  margin-top: 0.4rem;
  font-size: 2rem;
  grid-row: 1;
}
.card-angle-rigth{
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .card-angle-rigth div{
    position: absolute;
  }
  .rectangle{
    background: #CCD1D7;
    width: 29rem;
    height: 11.6rem;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto;
  }

  .card-conte--text{
    background: #446063;
    width: 18.9rem;
    height: 7.2rem;
    margin-top:0.7rem;
    margin-left: 0.8rem;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    padding-left: 0.6rem;
  }
  .card-conte--text-angle {
    width:  7rem;
    height: 8.3rem;
    background:#446063;
    border-radius: 12px 12px 18px 0;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 15rem;
    top: 0.2rem;
  }

//bottom card
.card-conte--button-date-buttom{
  margin-top: 2rem;
  grid-row: 3;
  display: grid;
}
.rectangle-rigth{
  background: #FBA31B;
  width: 4.4rem;
  height: 2.8rem;
  border-radius: 6px 6px 6px 0;
  margin-left: 3.2rem;
  margin-top: 0.6rem;
  position: absolute;
  svg{
    width: 3rem;
    color:white;
    margin-top: -1rem;
    margin-left:-1.8rem;
  }
}
.angle-rigth {
  width:  20px;
  height: 3.2rem;
  background: #FBA31B;
  border-radius: 4px 8px 0 8px ;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
  margin-left:2rem;
  margin-top: 0.4rem;
}
.rectangle-rigth p{
  color: white;
}
.experiecne-date{
  text-align: center;
  margin-top: 0.4rem;
  margin-left: 1.6rem;
}
.experiecne-date p{
  color:#141E1D;
  font-size: 1.4rem;
  margin-top:0.2rem;
  width: 20rem;
}
div .experiecne-date p{
  padding: 0;
  margin-bottom: -0.2rem;
}

.rectangle-left{
  background: #FBA31B;
  width: 4rem;
  height: 2.8rem;
  margin-top:0.6rem;
  margin-left:15.4rem;
  border-radius: 6px 6px 0 6px;
  padding-top: 0.4rem;
  svg{
    width: 1.8rem;
    color:white;
    margin-top: -1.4rem;
    margin-left:0.8rem;
  }
}
.angle-left {
  width:  2.2rem;
  height: 3.2rem;
  background: #FBA31B;
  border-radius: 4px 8px 8px 0 ;
  transform: rotate(0deg) skewX(30deg) scale(1,.866);
  margin-left:18.4rem;
  margin-top:0.4rem;
}
.experience-buttonL{
  width: 20rem;
  height: 5rem;
}
.rectangle-left p{
  margin-left: 6px;
  color: white;
}
.more--container{
  width: 26rem;
  height: auto;
  display: grid;
  background: #CCD1D7;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0.6rem;

}
.more--container p{
  font-size: 1.4rem;
  padding: 0.6rem 0.6rem 1rem 0.6rem;
  background: #446063;
  border-radius: 1rem;
  margin-bottom: 0;
  line-height: normal;
}

.logo{
width:18rem;
margin-left: 20rem;
margin-top: -2rem;
margin-bottom: 1rem;
position:relative;
}
.delete{
  color: red;
  position: absolute;
  margin-top: -3rem;
  margin-left: 16rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
svg{
  color: #FBA31B;
  position: absolute;
  height: 2.8rem;
  width: 2.8rem;
  margin-top: -3.4rem;
}
.eddition-container{
  display: grid;
  justify-items: left;
}

.option{
  display: none;
  &.active{
    display: grid;
  }
}
@media (min-width: 900px){
  .card-experience{
    margin-left: 6rem;
  }
}
