//card
.card-experience{
    width: 100%;
    margin-top: 30px;

}
.card-angle-rigth{
    position: relative;
    padding-top: 20px;
  }
  .card-angle-rigth div{
    position: absolute;
  }
  .rectangle{
    background: #CCD1D7;
    width: 300px;
    height: 110px;
    border-radius: 12px;
  }

  .card-conte--text{
    background: #446063;
    width: 208px;
    height: 68px;
    margin-top:10px;
    margin-left: 8px;
    border-radius: 12px 12px 0 12px;
  }
  .card-conte--text-angle {
    width:  70px;
    height: 79px;
    background:#446063;
    border-radius: 12px 12px 18px 0;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 170px;
    margin-top: -6px;
  }
 h2{
     margin: 6px 0 0 10px;
 }
 p{
     margin: 0 0 4px 10px;
     font-size: 1.6rem;
 }

.logo{
  width:180px;
  margin-left: 220px;
  margin-top: -30px;
  margin-bottom: 10px;
  position:relative;
}
.delete{
  position: absolute;
  margin-left: 350px;
  margin-top: -20px;
}
