//card
.card-experience{
    width: 100%;
    margin-top: 30px;
}
.card-angle-rigth{
    position: relative;
    padding-top: 20px;
  }
  .card-angle-rigth div{
    position: absolute;
  }
  .rectangle{
    background: #CCD1D7;
    width: 29rem;
    height: 13rem;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto;
  }

  .card-conte--text{
    background: #446063;
    width: 18.9rem;
    height: 8.6rem;
    margin-top:0.6rem;
    margin-left: 0.8rem;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  .card-conte--text-angle {
    width:  7rem;
    height: 9.6rem;
    background:#446063;
    border-radius: 12px 12px 18px 0;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 15rem;
    margin-top: 0.2rem;
  }
 h2{
     margin-left: 0.4rem;
     font-size: 2rem;
     grid-row: 1;
 }
 p{
     margin-left: 0.6rem;
     font-size: 1.6rem;
     width: 20rem;
     grid-row: 2;
     padding-bottom: 0.6rem;
 }

.logo{
  width:18rem;
  margin-left: 20rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  position:relative;
}

//bottom card
.card-conte--button-date-buttom{
  margin-top: 2.6rem;
  grid-row: 3;
}
.rectangle-rigth{
  background: #FBA31B;
  width: 3.6rem;
  height: 2.8rem;
  border-radius: 6px 6px 6px 0;
  margin-left: 4rem;
  margin-top: 0.6rem;
  padding-top: 0.4rem;
}
.angle-rigth {
  width:  20px;
  height: 3.1rem;
  background: #FBA31B;
  border-radius: 4px 4px 0 8px ;
  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
  margin-left:3rem;
  margin-top: 0.47rem;
}
.rectangle-rigth p{
  color: white;
}
.experiecne-date{
  text-align: center;
  margin-top: 0.4rem;
  padding-left: 2.4rem;
}
div .experiecne-date p{
  padding: 0;
  margin-bottom: -0.2rem;
}


.rectangle-left{
  background: #FBA31B;
  width: 3.4rem;
  height: 2.8rem;
  margin-top:0.6rem;
  margin-left:19.6rem;
  border-radius: 6px 6px 0 6px;
  padding-top: 0.4rem;
}
.angle-left {
  width:  2.2rem;
  height: 3.1rem;
  background: #FBA31B;
  border-radius: 4px 8px 4px 0 ;
  transform: rotate(0deg) skewX(30deg) scale(1,.866);
  margin-left:22.2rem;
  margin-top:0.5rem;
}
.rectangle-left p{
  margin-left: 6px;
  color: white;
}


.delete{
  color: red;
  position: absolute;
  margin-top: -3rem;
  margin-left: 16rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
svg{
  color: #FBA31B;
  position: absolute;
  height: 2.8rem;
  width: 2.8rem;
  left: 0rem;
  margin-top: -3.4rem;
}
.eddition-container{
  display: grid;
  place-items: center;
}
.change{
  border: 0.4rem solid #FBA31B;
  background: #B3B3B3;
  border-radius: 2rem;
  padding: 1rem;
  display: none;
  &.active{
    transform: translateY(0);
    display: grid;
  }
}
.option{
  display: none;
  &.active{
    display: grid;
  }
}
@media (min-width: 900px){
  .card-experience{
    margin-left: 6rem;
  }
}
