*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
app-head{
  position: fixed;
  z-index: 1;
}
.pantallas-container{
    background: #141E1D;
    place-items: center;
    margin-bottom: 10rem;
}
app-nav-bar {
  position: fixed;
  bottom: 0;
}
