app-head{
  position: fixed;
  z-index: 1;
}
nav{
  background: #141e1df3;
}
.nav-container{
  width: 100vw;
  display: grid;
  place-items: center;
  //grid-template-columns: 1fr 1fr 2fr 1fr 1fr;  probando con mi cel
  //margin-top: 2.6rem;
}

.button svg{
    border:none;
    color: #FBA31B;
    width: 3.8rem;
    height: auto;
    border-radius: 4px 4px 4px 4px;
}
.button-left-angle{
  grid-column: 2;
}

.right {
  grid-column: 5;
}
.left{
  grid-column: 1;
}

//angle rigth
.button-right-angle{
  margin: 0 auto;
  grid-column: 4;
}
  .rectangle-rigth{
    background: #FBA31B;
    width: 4rem;
    height: 3rem;
    position: absolute;
    border-radius: 6px 6px 6px 0;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    color: white;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
}
.angle-rigth {
    width:  2rem;
    height: 3.45rem;
    background: #FBA31B;
    border-radius: 4px 4px 0 8px ;
    position: absolute;
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
    margin-top: -1.8rem;
    margin-left: -2.6rem;
}
//angle left
.rectangle-left{
    background: #FBA31B;
    width: 4rem;
    height: 3rem;
    position: absolute;
    border-radius: 6px 6px 0 6px;
    margin-left:-2.6rem;
    margin-top: -1.6rem;
    color: white;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
}
.angle-left {
    width:  2rem;
    height: 3.45rem;
    background: #FBA31B;
    border-radius: 0 4px 8px 0;
    position: absolute;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 0.4rem;
    margin-top: -1.8rem;
}
//triangle
.triangle,
.triangle:before,
.triangle:after {
  position: relative;
  display:block;
  width:  76px;
  height: 76px;
  background: #FBA31B;
  border-radius: 0 20px 0 20px ;
  grid-column: 3;
}
.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(.58,.5);
  margin: 0 auto;
  margin-top: -20px;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
}
.triangle:before {
  transform: rotate(45deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
  transform: rotate(315deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


//triangle nav img
.triangle-nav-img,
.triangle-nav-img:before,
.triangle-nav-img:after {
  position: relative;
  display:block;
  width:  76px;
  height: 76px;
  background-color: #e2e2e0;
  background-image: linear-gradient(225deg, #141e1d 0%, #e2e2e0 33%, #e2e2e0 77%, #141e1d 100%);
  border-radius: 0 20px 0 20px ;
}
.triangle-nav-img {
  transform: rotate(-60deg) skewX(-30deg) scale(.46,.4);
  margin: 0 auto;
  margin-top: -79px;
}
.triangle-nav-img:before,
.triangle-nav-img:after {
  content: '';
  position: absolute;
}
.triangle-nav-img:before {
  transform: rotate(45deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  border-radius:0 2rem 0 23rem;
}
.triangle-nav-img:after {
  transform: rotate(315deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  border-radius:0 2rem 0 23rem;
}
img{
  width:6.1rem;
  margin-top: -8.3rem;
  margin-left: 0.55rem;
  position: relative;
}
.menu{
  display: grid;
  place-items: center;
  transform: translateY(120%);
  transition: all ease-out .5s;
  display: none;
  &.active{
    transform: translateY(0);
    display: grid;
  }
}
