nav{background: #141E1D;}
.nav-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    margin-top: 26px;
}
a div{
    align-items: center;
    justify-content: center;
}
.button div{
    border:none;
    background: #FBA31B;
    width: 5rem;
    height: 3.2rem;
    margin-top:0.2rem;
    border-radius: 4px 4px 4px 4px;
}
.center-left{
    margin: 0 auto;
    grid-column: 2;
}

.right{
    grid-column: 5;
    padding: 0 0.3rem;
}
.left{
  grid-column: 1;
  padding: 0 1.2rem 0 0.3;
}

//angle rigth
  .rectangle-rigth{
    background: #446063;
    width: 4rem;
    height: 3rem;
    position: absolute;
    border-radius: 6px 6px 6px 0;
    margin-left:2rem;
    margin-top: 0.2rem;
}
.angle-rigth {
    width:  2rem;
    height: 3.5rem;
    background: #446063;
    border-radius: 4px 4px 0 8px ;
    position: absolute;
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
    margin-top: -0.1rem;
    margin-left: 1rem;
}
//angle left
.rectangle-left{
    background: #FBA31B;
    width: 4rem;
    height: 3rem;
    position: absolute;
    margin-top:0.2rem;
    border-radius: 6px 6px 0 6px;
    margin-left:-2.8rem;

}
.angle-left {
    width:  2rem;
    height: 3.4rem;
    background: #FBA31B;
    border-radius: 0 4px 8px 0;
    position: absolute;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 0.3rem;
}
//triangle
.triangle,
.triangle:before,
.triangle:after {
  position: relative;
  display:block;
  width:  76px;
  height: 76px;
  background: #FBA31B;
  border-radius: 0 20px 0 20px ;
  grid-column: 3;
}
.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(.58,.5);
  margin: 0 auto;
  margin-top: -20px;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
}
.triangle:before {
  transform: rotate(45deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
  transform: rotate(315deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


//triangle nav img
.triangle-nav-img,
.triangle-nav-img:before,
.triangle-nav-img:after {
  position: relative;
  display:block;
  width:  76px;
  height: 76px;
  background: #E2E2E0;
  border-radius: 0 20px 0 20px ;
}
.triangle-nav-img {
  transform: rotate(-60deg) skewX(-30deg) scale(.46,.4);
  margin: 0 auto;
  margin-top: -79px;
}
.triangle-nav-img:before,
.triangle-nav-img:after {
  content: '';
  position: absolute;
}
.triangle-nav-img:before {
  transform: rotate(45deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle-nav-img:after {
  transform: rotate(315deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.menu{
  display: grid;
  place-items: center;
  transform: translateY(120%);
  transition: all ease-out .5s;
  display: none;
  &.active{
    transform: translateY(0);
    display: grid;
  }
}
