<div class="menu" [class.active]="activeMenu">
    <app-menu></app-menu>
</div>
<nav>
    <div class="nav-container">
        <a href="" class="button left">
            <div>A</div>
        </a>
        <a class="center-left" href="">
            <div>
                <div Class="rectangle-left"></div>
                <div Class="angle-left"></div>
            </div>
        </a>
        <a (click)="toggleMenu()" >
            <div class="triangle">
            </div>
            <div class="triangle-nav-img">
            <img src="">
            </div>
        </a>
        <a href="" class="button-right-angle">
            <div Class="rectangle-rigth"></div>
            <div Class="angle-rigth"></div>
        </a>
        <a href="" class="button right">
            <div>B</div>
        </a>
    </div>
</nav>
