
<footer class="footer" [class.hidden]="isScrolled">
  <div class="footer_actions">
    <div class="footer_actions-borderL">
      <div class="footer_actions-containerL" [class.open]="blindnessState">
        <button aria-label="open modal color blindness" (click)="handelBlindness()" class="blindness-title" [class.open]="blindnessState"><p class="p">Color blindness</p></button>
        <app-blindness></app-blindness>
      </div>
    </div>

    <!-- end borderL -->
    <div class="footer_actions-black_space"><div class="black_space"></div></div>

    <!-- start borderR -->
    <div class="footer_actions-borderR"></div>
  </div>
  <div class="footer_text-container">
    <p class="p">Pero que lindo diseno e realizado</p>
  </div>
</footer>
