*{
  font-size: 1.8rem;
  color: black;
}

.post-study{
  width: 28rem;
  display: grid;
  grid-auto-flow: column;
  background: #B3B3B3;
  border-radius: 1rem;
  padding-bottom: 0.4rem;
}
.form-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.form-container label{
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}
.form-container input{
  margin: 0.4rem 1rem;
  border-radius: 0.4rem;
  padding-left: 0.4rem;
}
