<div>
  <form [formGroup]="StudyDTO" class="post-study">
    <div class="form-container">
    <label for="" class="">Estudio</label>
    <input type="text"
      id="estudiado"
      placeholder="Estudio realizado"
      formControlName="estudiado"
    >

    <label for="" class="">Institucion</label>
    <input type="text"
      id="institucion"
      placeholder="instituto - intro"
      formControlName="institucion"
    >

    <label for="" class="">Descripcion</label>
    <textarea
      class="textarea-post"
      id="descripcion"
      placeholder="descripcion del estudio"
      type="text"
      formControlName="descripcion">
    </textarea>

    <label for="" class="">Inicio</label>
    <input type="date"
      id="ini"
      formControlName="ini"
    >

    <label for="" class="">Final</label>
    <input type="date"
      id="fin"
      formControlName="fin"
    >

    <label for="" class="">url</label>
    <input type="text"
      id="url"
      placeholder="url del curso "
      formControlName="url"
    >

    <label for="" class="">logo</label>
    <input type="text"
      id="logo"
      placeholder="url - Logo"
      formControlName="logo"
    >
    </div>
    <button class="button-post" (click)="upStudy()" >Post</button>
  </form>
</div>
