
<div class="post-about">
  <form [formGroup]="DataRout" class="up-data">
    <div class="form-container">
    <label for="" class="">Titulo</label>
    <input type="text"
      id="nombre"
      class="form-control"
      placeholder="Your full name"
      formControlName="nombre"
    >
    <label for="" class="">Descripcion</label>
    <textarea
    class="form-control textarea-post"
    id="descripcion"
    placeholder="descripcion de la experiencia"
    type="text"
    formControlName="descripcion">
  </textarea>
    </div>
    <button class="button-post" (click)="UpRout()" (click)="clouseWind()"><p>Up</p> </button>
  </form>
</div>
