
<div class="post-about">
  <form [formGroup]="DataRout" class="form-container">
    <div class="form-container">
    <label for="" class="">Titulo</label>
    <input type="text"
      id="nombre"
      placeholder="Your full name"
      formControlName="nombre"
    >
    <label for="" class="">Descripcion</label>
    <input type="text"
      id="descripcion"
      placeholder="Your full name"
      formControlName="descripcion"
    >
    </div>
    <button class="button-post" (click)="UpRout()" (click)="clouseWind()"><p>Up</p> </button>
  </form>
</div>
