*{
  font-size: 1.8rem;
  color: black;
}
.form-container{
  display: grid;
}
.post-about{
  width: 28rem;
  display: grid;
  grid-auto-flow: column;
  background: #B3B3B3;
  border-radius: 1rem;
  padding-bottom: 0.4rem;
}
