<div>
  <form [formGroup]="ExpDTO" class="up-data">
    <div class="form-container">
    <label for="" class="">Trabajo</label>
    <input type="text"
      id="name"
      class="form-control"
      placeholder="Trbajo - Proyecto"
      formControlName="trabajo"
    >

    <label for="" class="">puesto</label>
    <input type="text"
      class="form-control form-control"
      id="descripcion"
      placeholder="pequeña descripcion"
      formControlName="puesto"
    >

    <label for="" class="">descripcion</label>
    <textarea
      class="textarea-post form-control"
      id="descripcion"
      placeholder="descripcion detallada"
      type="text"
      formControlName="descripcion">
    </textarea>

    <label for="" class="">inicio</label>
    <input type="date"
      id="ini"
      class="form-control"
      placeholder="fecha de inicio"
      formControlName="ini"
    >

    <label for="" class="">final</label>
    <input type="date"
      id="fin"
      class="form-control"
      placeholder="fecha de final"
      formControlName="fin"
    >

    <label for="" class="">url</label>
    <input type="text"
      id="url"
      class="form-control"
      placeholder="URL - Trabajo/Proyecto"
      formControlName="url"
    >

    <label for="" class="">logo</label>
    <input type="text"
      id="logo"
      class="form-control"
      placeholder="URL - Logo "
      formControlName="logo"
    >
    </div>
    <button class="button-post" (click)="saveNew()" >Post</button>
  </form>
</div>
