<app-head ></app-head>
<div
  class="post-container option"
  [class.active]="logeado">
  <div>
    <ul>
      <li>
        <button (click)="activeEstudy()">Estudy</button>
      </li>
      <li>
        <button (click)="activeExperience()">Experience</button>
      </li>
      <li>
        <button (click)="activeSkill()">Skill</button>
      </li>
      <li>
        <button (click)="activeAbout()">About</button>
      </li>
    </ul>
  </div>
  <div class="post-container--data">
    <div class="change" [class.active]="active.activeEst">
      <app-estudy-post></app-estudy-post>
    </div>
    <div class="change" [class.active]="active.activeExp">
      <app-experience-post></app-experience-post>
    </div>
    <div class="change" [class.active]="active.activeSki">
      <app-skill-post></app-skill-post>
    </div>
    <div class="change" [class.active]="active.activeAbo">
      <app-about-post></app-about-post>
    </div>
  </div>
</div>
