*{
  font-size: 1.6rem;
  color: white;
}

.post-container{
  margin: 0 auto;
  background: #CCD1D7;
  border-radius: 1.2rem;
  width: 30rem;
  padding-bottom: 1rem;
  display: grid;
  justify-items: center;
}
.post-option{
  margin-top: 1rem;
  border-radius: 1rem;
  background: #446063;
  margin-bottom: 1.2rem;
}
ul {
  padding-left: 0;
}
ul li{
 display: inline-block;
 margin:1rem 0.6rem 0 0.6rem;
}
li button{
  padding: 0.4rem 0.6rem;
  background: #FBA31B;
  border-radius: 0.4rem;
}






.hover--options li:hover>ul{
  display: block;
}

.change{
  display: grid;
  place-items: center;
  display: none;
  &.active{
    transform: translateY(0);
    display: grid;
  }
}
.option{
  display: none;
  &.active{
    display: grid;
  }
}
