/* You can add global styles to this file, and also import other style files */
@import "./styles/reset.scss";
@import "./styles/variables.scss";
/*mixin */
@import "./styles/mixin/head-mixin.scss";
@import "./styles/mixin/about-mixin.scss";
@import "./styles/mixin/card-mixin.scss";
@import "./styles/mixin/skill-mixin.scss";

/* Media */
@import "./styles/media/head-media.scss";

/* Components */
@import "./styles/components/atom/head-icon.scss";
@import "./styles/components/organism/head-organism.scss";

/* Animaton */
@import "./styles/animation/head-animation.scss";
@import "./styles/animation/card-animation.scss";

/*falta importar bien boostrap
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
*/


html{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a, p, span{
  color: white;
  font-size: 1.6rem;
  margin-bottom: 0;
  line-height: 22px;
}
a {
  text-decoration: none;
}
h4 {
  font-size: 2rem;
}
.card{
  width: 100%;
  margin-top: 4rem;
  background: #141E1D;
}
.label-up{
  color: black;
  font-size: 1.8rem;
}
label{
  font-size: 1.8rem;
}
app-head{
  width: 100vw;
}
.button-post{
  background: #FBA31B;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  margin: 0 auto;
  margin-top: 2rem;
  color: white;
}
.form-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.form-container label{
  margin-left: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
}
.form-container input{
  margin: 0.4rem 1rem;
  border-radius: 0.4rem;
  padding-left: 0.4rem;
}

.post{
  width: 28rem;
  display: grid;
  background: #446063;
  border-radius: 1rem;
  padding-bottom: 0.4rem;
}
.post input,
.up-data input{
  font-size: 1.6rem;
  background: #CCD1D7;
}
.post-taitle{
  text-align: center;
  margin-bottom: 1rem;
}
.post-taitle h3{
  border-radius: 0.6rem;
  padding:1rem;
  background: #FBA31B;
  color: white;
}
.textarea-post{
  width: 26rem;
  height: 8rem;
  margin: 0.4rem 1rem;
  border-radius: 0.4rem;
  padding-left: 0.4rem;
  background: #CCD1D7;
}
.form-control{
  width: 26rem;
  border: 2px solid #CCD1D7;
}


.up-data{
  width: 28rem;
  display: grid;
  background: #446063;
  border-radius: 1rem;
  padding-bottom: 0.4rem;
}
.change{
  background: #CCD1D7;
  border-radius: 2rem;
  padding: 1rem;
  display: none;
  &.active{
    display: grid;
  }
}

//---New styles
.container_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5rem;
  margin: 0 60px;
}
@media (max-width: 1200px){
  .container_card{
    margin: 0 30px;
  }
}
@media (max-width: 1100px){
  .container_card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0;
  }
}

