//card
.menu-container{
    width: 200px;
    height: auto;
    display: grid;
    place-items: center;
    background: #ccd1d7c7;
    border-radius: 6px;
    padding-left: 6px;
    margin-bottom: 3rem;
}
.menu-container a{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-angle-rigth{
    position: relative;
  }
  .card-angle-rigth div{
    position: absolute;
  }
  .background-option {
    margin-top: 2.6rem;
    .rectangle{
      background: #446063;
      width: 11rem;
      height: 3rem;
      margin-top: 0.2rem;
      border-radius: 0.8rem 0.8rem 0 0.8rem;
    }
    .angle-rigth {
      width:  4rem;
      height: 3.4rem;
      background:#446063;
      border-radius: 8px 8px 8px 0;
      transform: rotate(0deg) skewX(30deg) scale(1,.866);
      margin-left: 8rem;
    }
  }
 p {
   text-decoration: none;
   color: white;
   font-size: 1.6rem;
   position: absolute;
   margin-top: 3.2rem;
   margin-left: 1rem;
 }
.icon-container{

}
.icon-container img{
  width: 6rem;
  margin-left: 3rem;
  margin-top: 1.4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
