//card
.menu-container{
    width: 200px;
    height: auto;
    display: grid;
    place-items: center;
    background: #ccd1d7c7;
    border-radius: 6px;
    padding-left: 6px;
}
.card-angle-rigth{
    position: relative;
  }
  .card-angle-rigth div{
    position: absolute;
  }
  .rectangle{
    background: #446063;
    width: 10rem;
    height: 3rem;
    margin-top:2.7rem;
    border-radius: 0.8rem 0.8rem 0 0.8rem;
  }
  .angle-rigth {
    width:  4rem;
    height: 3.45rem;
    background:#446063;
    border-radius: 8px 8px 8px 0;
    transform: rotate(0deg) skewX(30deg) scale(1,.866);
    margin-left: 86px;
    margin-top: 2.45rem;
  }
 p {
   text-decoration: none;
   color: white;
   font-size: 1.6rem;
   position: absolute;
   margin-top: 3.2rem;
   margin-left: 1rem;
 }

//triangle
.triangle,
.triangle:before,
.triangle:after {
  position: relative;
  display:block;
  width:  76px;
  height: 76px;
  background: #FBA31B;
  border-radius: 0 20px 0 20px ;
}
.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(.36,.31);
  margin-left: 120px;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
}
.triangle:before {
  transform: rotate(45deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
  transform: rotate(315deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
