

$primary: #FBA31B;
$primary_70p: #E38521;
$gray_30p: #ccd1d7;
$gray_30p_gradient: #e2e8ee;
$secondary: #354c4f;

$backgroundPage: #141e1d;

//Acromatopsia -- ningun color
$primary_notAll: #bbbbbb;
$primary_70p_notAll: #bbbbbb;

$secondary_notAll: #bbbbbb;

$gray_30p_notAll: #dedede;

//Tritanopia -- no ve rojo
$primary_tritanopia: #f77075;
$primary_70p_tritanopia: #e26569;

$secondary_tritanopia: #456262;

$gray_30p_tritanopia: #d9e2e2;

//Deuteranopia -- mas amarillo
$primary_deuteranopia: #dfe55f;
$primary_70p_deuteranopia: #d0d658;

$secondary_deuteranopia: #4f4d62;

$gray_30p_deuteranopia: #dbdbe3;





.position_relative {
  position: relative;
}
//-- cardExample link
@mixin button_mixin() {
  width: 100%;
  text-align: center;
  padding: 3px 0px;
  border-radius: 14px;
  box-shadow: inset -4px -4px 10px 1px #3131317b;

  p, a {
    font-weight: 800;
    background-color: $backgroundPage;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  &:hover {
    box-shadow: inset -4px -4px 10px 1px #31313129;
    a {
      // background-color: white;
    }
    p, a {
      text-shadow: 2px 2px 3px rgba(130, 130, 130, 0.5);
    }
  }
}


//esta pensado los colores para que lo implemente .cardExample
@mixin card_color_mixin($pri_70:$primary_70p, $pri:$primary, $second:$secondary, $gray_bg:$gray_30p, $gray_gradient:$gray_30p_gradient) {
  background-color: $gray_bg; //$gray_30p
  background-image: linear-gradient(160deg, $gray_bg 0%, $gray_gradient 100%);
  .cardExample_figure {
    background-color: $pri; //$primary_70p
  }
  .cardExample_info_container {
    background-color: $second; //$secondary
  }
  .cardExample_more_info{
    background-color: $second; //$secondary
  }
  .cardExample_figure {
    background-color: $pri; //$primary
  }
  .cardExample_info_container {
    background-color: $second; //$secondary
  }
  .cardExample_link.git {
    background-color: #9099a6;
  }
  .cardExample_link.web {
    background-color: $pri;//$primary
  }
}
.cardExample {
  &.all {
    @include card_color_mixin ();
  }
  &.acromatopsia {
    @include card_color_mixin ($primary_notAll, $primary_70p_notAll, $secondary_notAll, $gray_30p_notAll, $gray_30p_notAll);
    .cardExample_img{
      filter: grayscale(100%);
    }
  }
  &.deuteranopia {
    @include card_color_mixin ($primary_deuteranopia, $primary_70p_deuteranopia, $secondary_deuteranopia, $gray_30p_deuteranopia, $gray_30p_deuteranopia);
    .cardExample_img {
      filter: saturate(0) contrast(0.9) brightness(1.1) sepia(0.1) grayscale(0.9)
              hue-rotate(-20deg)
              opacity(0.8)
              drop-shadow(0 0 2px #000000);
    }
  }
  &.tritanopia {
    @include card_color_mixin ($primary_tritanopia, $primary_70p_tritanopia, $secondary_tritanopia, $gray_30p_tritanopia, $gray_30p_tritanopia);
    .cardExample_img {
      filter: saturate(0) contrast(0.9) brightness(1.1) sepia(0.1) grayscale(0.9)
              hue-rotate(90deg)
              opacity(0.8)
              drop-shadow(0 0 2px #000000);
    }
  }
  // background-color: $gray_30p;
  // background-image: linear-gradient(160deg, $gray_30p 0%, $gray_30p_gradient 100%);
  box-shadow: 4px 4px 10px 1px #000000, -6px -6px 10px 1px #000000;

  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 560px;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;

  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;

  .cardExample_figure {
    width: 180px;
    height: 180px;
    // background-color: $primary_70p;
    margin: 0;
    border-radius: 14px;
    padding: 10px;
    box-shadow: inset -4px -4px 10px 1px #3131317b;
  }
  .cardExample_link_container {
    display: flex;
    gap: 10px;
    height: 32px;
  }
  .cardExample_container{
    height: 100%;
    display: grid;
    gap: 10px;
    align-content: space-between;
    justify-content: center;
  }
  .cardExample_info_container {
    // background-color: $secondary;
    width: 100%;
    border-radius: 14px;
    padding: 12px 16px;
    height: 180px;
    box-shadow: inset -4px -4px 10px 1px #3131317b;
  }
  .cardExample_more_info{
    // background-color: $secondary;
    display: flex;
    justify-content: space-around;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 14px;
    text-align: center;
    box-shadow: inset -4px -4px 10px 1px #3131317b;

    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    span{
      margin-top: -4px;
    }
  }
}
//animation
.text-animation {
  animation: slide-left 30s linear infinite, visibility 2s ease-in-out;
  display: inline-block;
  animation-delay: -40s; /* Retraso para que el texto inicie fuera del contenedor */
  width: 352px;
  display: flex;
  opacity: 1;
  visibility: visible;
  height: 10px;
  span {
    width: 60px;
    margin-left: 20px;
  }
  li {
    margin-top: -4px;
    margin-left: 40px;
    margin-right: 10px;
    font-size: 16px;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    transform: translateX(-300%);
    opacity: 0;
  }
}

//--- cardExample ----------
.cardExample:hover {
  // transform: translate(-0px, -4px);
}
.cardExample {
  .cardExample_info_title{
    font-weight: bold;
  }
  @media (max-width: 620px) {
    grid-template-columns: 1fr;
    margin: 0 28px;
    max-width: 300px;
    .cardExample_figure {
      width: 100%;
      height:auto;
    }
    .cardExample_info_container, .cardExample_more_info {
      height: auto;
    }
  }
}

//-- cardExample figure
.cardExample_figure {
  width: 180px;
  height: 180px;
  // background-color: $primary;
  margin: 0;
  border-radius: 14px;
  padding: 10px;
  box-shadow: inset -4px -4px 10px 1px #3131317b;
  .cardExample_img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color:rgb(44, 44, 44);
    object-fit: cover;
  }
}


//-- cardExample link
.cardExample_link_container {
  .cardExample_link.git {
    @include button_mixin();
  }
  .cardExample_link.web {
    @include button_mixin();
  }
}

//---

.cardExample {
  @media (min-width: 620px) {
    .cardExample_info_title {
      font-weight: bold;
    }
    /* Agregamos estilos para el truncate */
    .truncate-container {
      position: relative;
      overflow-y: auto; /* Usamos "auto" para que solo muestre el scroll cuando es necesario */
      max-height: 130px; /* Altura máxima para mostrar el texto truncado */
    }
  }
}
