<div class="position_relative">
  <div class="cardExample all {{colorState}}">
    <div class="cardExample_container">
      <figure class="cardExample_figure">
        <img class="cardExample_img" [src]="cardObj.img ? cardObj.img : imgLoad" class="cardExample_img" alt={{cardObj.title}} *ngIf="!cardObj.three"/>
        <app-three-window [cardThree]="cardObj.three" class="cardExample_img" *ngIf="cardObj.three"></app-three-window>
      </figure>
      <section class="cardExample_link_container">
        <!-- valido si existen los links .git, .web, ... -->
        <a aria-label="go to github project" href="{{cardObj.git}}" target="_blank" class="cardExample_link git" *ngIf="cardObj.git">
          <p>git</p>
        </a>
        <a aria-label="go to project page" href="{{cardObj.web}}" target="_blank" class="cardExample_link web" *ngIf="cardObj.web">
          <p>web</p>
        </a>
      </section>
    </div>
    <!--  -->
    <div class="cardExample_container">
      <section class="cardExample_info_container">
        <h4 class="cardExample_info_title">{{cardObj.title}}</h4>
        <div class="truncate-container">
          <p class="cardExample_info">{{cardObj.pp}}</p>
        </div>
      </section>
      <section class="cardExample_more_info">
        <ul class="text-animation">
          <!-- <p>{{cardObj.ini}}</p> -->
          <li *ngFor="let tag of cardObj.tags;"> • {{tag}}</li>
          <!-- <p>{{cardObj.ini}}</p> -->
          <li *ngFor="let tag of cardObj.tags;" aria-hidden="true"> • {{tag}}</li>
          <!-- <p>{{cardObj.ini}}</p> -->
          <li *ngFor="let tag of cardObj.tags;" aria-hidden="true"> • {{tag}}</li>
          <!-- <p>{{cardObj.ini}}</p> -->
          <li *ngFor="let tag of cardObj.tags;" aria-hidden="true"> • {{tag}}</li>
          <!-- <p>{{cardObj.ini}}</p> -->
          <li *ngFor="let tag of cardObj.tags;" aria-hidden="true"> • {{tag}}</li>
        </ul>
      </section>
    </div>
  </div>
</div>
