
<div class="login-container">
  <h2>Iniciar Sesion</h2>
  <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)" >
    <div>
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email" formControlName="email"
        [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  <!--    <div  *ngIf="Email?error && Email?.touched" >
          <p *ngIf="Email.hasError('email')" class= "text-danger"> -->

        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="text-danger">
            El Email es requerido
          </p>
          <p *ngIf="Email?.hasError('email')" class="text-danger">
            El Email esta mal
          </p>
        </div>
      </div>
    <div>
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input
        type="password" formControlName="password"
        [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
        class="form-control" id="exampleInputPassword1">
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          La Clave es requerida
        </p>
      </div>
    </div>
    <button type="submit" class="buton-login">Intentar</button>
</form>
</div>
