<div>
  <form [formGroup]="SkillDTO" class="up-data">
    <div class="form-container">
    <label for="" class="">nombre</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Skill-Name"
      formControlName="nombre"
    >

    <label for="" class="">descripcion</label>
    <textarea
      class="form-control textarea-post"
      id="descripcion"
      placeholder="descripcion de la experiencia"
      type="text"
      formControlName="descripcion">
    </textarea>

    <label for="" class="">url</label>
    <input
      type="text"
      class="form-control"
      id="url"
      placeholder="Your full name"
      formControlName="url"
    >

    <label for="" class="">logo</label>
    <input
      type="text"
      class="form-control"
      id="logo"
      placeholder="Your full name"
      formControlName="logo"
    >
    </div>
    <button class="button-post" (click)="upSkill()" >Up</button>
  </form>
</div>
